[2021-03-12 09:39] alanshaw opened #7 "Document API client"
Flesh out the [README](https://github.com/ipfs-shipyard/nft.storage/blob/main/client/Readme.md) so that there's enough information for users to be able to install and use the client and all it's methods. Add CI/dep/codecov badges, license info in standard readme style.

[2021-03-12 09:49] alanshaw opened #8 "Add linter to API client"
For some code consistency and catching some programming errors. Run in CI.

[2021-03-12 09:53] alanshaw opened #9 "Add repository, bugs and homepage to package.json"
So that users can access the code and website from the listing on the npm website.

[2021-03-16 15:19] alanshaw opened #15 "Add terms and conditions page"
Content from https://www.notion.so/protocollabs/nft-storage-TOS-722a3e5651614b04938d66a09d4f9048

[2021-03-16 15:20] alanshaw commented on #15
Also need to change wording on homepage to align with what is decided above.

[2021-03-16 17:50] alanshaw opened #16 "Do not remove NFT from KV store, mark as deleted."

[2021-03-17 10:28] #15 closed

[2021-03-17 21:29] Gozala commented on #8
We TS set to very strict and it runs in CI, so it will report most of the things and in fact more than linter does. As for formatting I've integrated prettier so it would just do the thing and we don't worry about it.

[2021-03-17 21:29] #8 closed

[2021-03-17 21:30] #7 closed

[2021-03-17 21:30] #9 closed

[2021-03-17 22:32] alanshaw opened #21 "Add FAQ section"
![image(1)](https://user-images.githubusercontent.com/152863/111547202-b3f1fe80-8770-11eb-8758-5b967ed6fd3f.png)

[2021-03-17 23:56] alanshaw commented on #21
resolved in https://github.com/ipfs-shipyard/nft.storage/commit/8409f59f5bc271b8040786a31a55e6376d1b7662

[2021-03-17 23:56] #21 closed

[2021-03-18 00:02] alanshaw opened #24 "Update Terms of Service"
After legal have looked at it.

[2021-03-18 00:04] alanshaw opened #25 "Add curl example to Raw HTTP Request section"

[2021-03-18 10:20] alanshaw opened #27 "Keep track of data usage"
We have a soft limit of 5GB advertised on the homepage. Lets add some accounting so we can easily monitor that.

[2021-03-18 13:56] alanshaw commented on #25
resolved in https://github.com/ipfs-shipyard/nft.storage/commit/5e1722ab19d4b5b424b7356436588654a00a24e7

[2021-03-18 13:56] #25 closed

[2021-03-18 16:37] alanshaw opened #30 "Update deal data types on client and on homepage example"
Based on the sample data:

[code]

[2021-03-19 18:25] #24 closed

[2021-03-21 04:38] ltfschoen opened #37 "Unable to parse data using File or Blob"
In this PR https://github.com/near-apps/nft-launcher/pull/1 I tried different ways to deploy either plain text, a static image, and an animated gif to NFT Storage so we could retrieve it and use it with NEAR Protocol but unfortunately I couldn't get `Blob` or `File` to parse any of the data provided to it, whether it was given plain text, base64 string, or a filename.

[2021-03-22 12:45] alanshaw opened #38 "Social share graphic is not work working"
e.g. https://twitter.com/momack28/status/1373887824903032834

[2021-03-22 12:47] alanshaw opened #39 "Update JS client deal types"
As per the sample:

[code]

[2021-03-22 12:48] alanshaw opened #40 "Reinstate API Docs section"
The openapi docs are **incredible** to have, but they have ALL the gory details and have lost the curl examples I added. I think it's beneficial to have a simple overview with just enough info for the happy path. If folks need specifics they can delve in. We should link to the openapi docs from the homepage, in the same way we do for the generated docs for the JS client.

[2021-03-22 12:51] alanshaw opened #41 "Signpost to the client library from the README in the repo root"
People may arrive here looking for the JS client. Lets link to `/client/README.md` from `/README.md`.

[2021-03-22 12:53] alanshaw opened #42 "Flip examples for JS client to use storeDirectory instead of storeBlob"
Multiple users expect file names to be retained. Lets make this the recommended method of storing files to avoid confusion.

[2021-03-22 14:58] alanshaw opened #43 "Improve error message when invalid API key is used"
Should return a JSON object with an "error.message" property with a friendly error.

[code]

[2021-03-22 15:44] alanshaw commented on #37
I've commented on the PR. Please re-open if you're still not able to get it working 😁🤞

[2021-03-22 15:44] #37 closed

[2021-03-23 12:13] #43 closed

[2021-03-23 21:38] #38 closed

[2021-03-23 23:44] mikeal commented on #16
similar to delete, we probably want a “blocked” state for CID’s we have DMCA takedown notices for.

[2021-03-24 18:05] #41 closed

[2021-03-26 00:54] onionpeel opened #48 "Error: Session expired"
I am getting an error with client.storeBlob(content).  I had been using it without any problems, but now it shows an error:
lib.js:86 Uncaught (in promise) Error: Session expired

I created a new account and tried a new API key, but the problem has persisted.  I have not exceeded the 5gb of storage.  Any ideas?

[2021-03-26 19:39] hugomrdias commented on #48
i will take a look, @onionpeel thank you for the heads up.

[2021-03-29 16:22] alanshaw opened #49 "Add 100% code coverage to nft.storage client"
\+ Add codecov badge to README

[2021-03-31 22:03] #49 closed

[2021-04-01 09:12] alanshaw commented on #48
@onionpeel it looks like you might be using an old token that you deleted. Can you check that the token you're using is shown in the list: https://nft.storage/manage

[2021-04-05 04:48] fastackl opened #54 "Question re 5GB limit"
Say I'm starting to hit the 5GB limit.

If I click "delete" in my file dashboard, will that keep me below the 5GB limit? And allow me to continue to upload files?

![image](https://user-images.githubusercontent.com/80379118/113538229-06ab3180-961e-11eb-89a4-1cd048225d72.png)

[2021-04-05 17:41] ribasushi opened #55 "Incongruently large DAGs"
While most of the "maximum size" DAGs in the KVstore currently hover around ~55MiB, there is a single outlier dierectory of 8k entries clocking at 2.1GiB.

@hugomrdias asked for this ticket so he can investigate
https://ipfs.io/ipfs/QmWVsx8f8ZKFzvKykdty1wETMaeotnwofaMxM9sqAdBT4C ( might not load through a gateway: directory is way too large )

<img width="849" alt="image" src="https://user-images.

[2021-04-06 12:16] #48 closed

[2021-04-07 08:40] alanshaw opened #57 "Add User-Agent header to client"
...not sure if setting User-Agent header in the browser is possible but should work on Node.js.

[2021-04-15 12:29] alanshaw opened #58 "Add pagination to the files list page"
Currently loads everything into memory, which will break for large pinsets.

[2021-04-15 23:08] alanshaw opened #59 "Wire up FIL deals metrics"
Currently the exported metrics do not include filecoin deals.

[2021-04-23 13:56] #59 closed

[2021-04-24 09:43] trnhgquan opened #63 "Is there anyway to store more than 100MB content?"
Hello team,

I am trying to add files more than 100MB via nft.storage, but I see it limit 100MB for each request as the same with Infura.
Is there anyway to do it or do u will wok on in in the near future?

[2021-04-26 13:54] alanshaw commented on #63
It is coming SOON!

[2021-04-26 14:46] hugomrdias opened #66 "Re-enable auto publish for the client lib"
In this [PR](https://github.com/ipfs-shipyard/nft.storage/pull/61) we had to disable the auto publish CI job, because workspaces dont work when the package.json version is `0.0.0` or out of sync . If another package in the monorepo depends on the client it will always fetch from npm instead of symlinking when versions dont match.

[2021-04-26 14:51] alanshaw commented on #27
NFT sizes are now tracked properly and reported in the metrics.

[2021-04-26 14:51] #27 closed

[2021-04-26 14:55] alanshaw commented on #54
Apologies for the delay - yes that's correct. Also, the 5GB limit has been removed. Note that the data must be used for NFTs and be be linked to from blockchains.

[2021-04-26 14:55] #54 closed

[2021-04-27 11:42] alanshaw opened #67 "Migrate NFT created date (ISO string) to timestamp"
We're doing a lot of date parsing of the string as date objects so we can get a timestamp from them. It would seem that storing a timestamp instead of an ISO string would be more optimal.

[2021-04-27 11:58] #58 closed

[2021-04-27 15:24] ribasushi opened #69 "Checking presence/status of a cid on nft.storage needs to be open"
As Joanne-the-nft-collector I want to be able to check whether a particular nft is persisted before I bid to acquire it via an auction. The obvious place to check this is https://nft.storage/

- There needs to be a search-box-style way to do this for a drive-by user
- An API (bulk?) check endpoint should be available as well
- Docs need to prominently feature this functionality

[2021-04-27 15:38] ribasushi opened #70 "Pin-by-hash needs an upper limit both due to technical limitations and to prevent abuse"
Tangentially related to, but distinct from https://github.com/ipfs-shipyard/nft.storage/issues/55

The largest dag we currently host is 22(!)GiB. If a dag grows beyond 31.5GiB - it will become extremely tedious/non-standard to store such a dag on filecoin.

Moreover - a multi-gigabyte nft is incongruent with the spirit of nfts in general.

While clients uploading via the website have natural limit

[2021-04-27 19:09] jnthnvctr commented on #69
I think we might want to separate these into two chunks of work (1) WebUI version (2) API version:
1a) User facing (check-my-nft) style flow might be better served if you had a wallet auth-type thing? Imaging that you'd use your Metamask wallet (or Formatic or whatever) to share what NFTs you hold and it gives you back the status-y response.

1b) Perhaps instead we make it easy for people to drop

[2021-04-28 09:33] #39 closed

[2021-04-29 02:48] jonyg80 opened #74 "Remote Pinning Service not working"
when trying to use Remote Pinning Service, it's giving the following error :-
`Error: remote pinning service returned http error 404: undefined response type`

[2021-04-29 10:18] hugomrdias opened #76 "add loading to tokens view"

[2021-04-29 10:21] hugomrdias opened #77 "can't use magic.link whitelist domain in safari"

[2021-04-29 10:21] hugomrdias opened #78 "fix redirects to nft.storage/*"

[2021-04-29 10:22] hugomrdias opened #79 "fix CI deploy for production"
upsert dns record fails for bare domain `nft.storage`

[2021-04-29 10:26] hugomrdias commented on #77
@alanshaw can you provide more info i can't repro with safari macos

[2021-04-29 10:36] hugomrdias commented on #77
this is related to the whitelist domains feature from magic link

<img width="707" alt="Screenshot 2021-04-29 at 11 35 45" src="https://user-images.githubusercontent.com/314190/116538150-0af60200-a8df-11eb-9118-576f12e19c49.png">

i disabled this feature for now, and contacted the support to see if we can re-enable this.

[2021-04-29 10:38] hugomrdias opened #80 "add missing FAQ"

[2021-04-29 10:43] #80 closed

[2021-04-29 13:23] hugomrdias opened #81 "private routes are not redirecting properly when logged out"

[2021-04-29 18:04] #76 closed

[2021-04-29 18:04] #78 closed

[2021-04-29 18:04] #79 closed

[2021-04-29 18:04] #81 closed

[2021-04-29 22:07] alanshaw commented on #74
Hey @jonyg80 please try again - we had a temporary problem where our redirects were not working which is now resolved.

Note that our API URL has changed from `https://nft.storage/api/*` to `https://api.nft.storage/*`. The old URL will continue to work for a while but you should update your remote pinning service config to the new one.

[2021-04-30 04:53] jonyg80 commented on #74
Thank you.

[2021-04-30 19:17] Manik-Jain opened #87 "API Key creation failing"
Upon trying to create a new API key using the createkey button, it still says "No Keys".

[2021-05-01 04:30] Manik-Jain commented on #87
@alanshaw Could we please check this?

[2021-05-01 08:31] alanshaw commented on #87
Are you seeing an error message in the console?

[2021-05-01 14:31] jonyg80 opened #88 "NFT size not being calculated"
Size of NFTs pinned by hash after 'version 1.0.0 update' is not being calculated .

[2021-05-01 14:43] blkluv opened #89 "Polka dot/Kusuma nft marketplace"
Hello we (luvnft.com) have a new polkadot/kusuma nft marketplace on AWS. How would we go about storing our files on your platform?

Info@luvnft.com

[2021-05-01 19:28] Manik-Jain commented on #87
Yes I see the following issues.
<img width="1423" alt="Screenshot 2021-05-01 at 15 27 35" src="https://user-images.githubusercontent.com/24981979/116792959-e7bf8400-aa91-11eb-95c1-89c83d78be11.png">

[2021-05-01 19:30] Manik-Jain commented on #87
This is something which happens when I login with my Github credential. If I, however, login with my email, it works, intermittently, fine.

[2021-05-01 19:32] Manik-Jain opened #90 "Login doesn't let provide a password."
<Actual> : Each time I try to login, the system redirects to signup page, and ask to verify with the mail.

<Expected> : Once the user has signed up, the users should be able to login using the password.

[2021-05-01 19:35] Manik-Jain opened #91 "API keys are not properly linked"
<Expected> : If the user logs in to the system using an email address or the linked github login account created with the same email address, the API keys generated via both should be displayed.

<Actual> : API keys are not getting generated and reflected with the github login

[2021-05-03 15:53] hugomrdias opened #92 "add error tracking to API and Frontend"

[2021-05-04 13:53] #92 closed

[2021-05-05 08:53] alanshaw commented on #88
I've also seen this. I think it's not all NFTs but needs to be fixed. Will look into this asap.

[2021-05-05 16:16] Gozala opened #96 "Create test suite for ./site and run it in CI on commits / pulls"

[2021-05-06 13:07] alanshaw opened #98 "Rename site -> api"
Currently confusing with the frontend `website` directory.

Lets wait for #56 and #97 to be merged first!

[2021-05-06 14:08] hugomrdias opened #99 "Improve error handling and sentry capture in the API"

[2021-05-06 22:57] Centos7-4 opened #101 "上传的文件如何下载"
![image](https://user-images.githubusercontent.com/53814949/117375396-79e7e200-af01-11eb-9504-db0906a1725c.png)

[2021-05-06 23:25] Gozala opened #102 "Handle errros from pinata"
At the moment failure to pin on pinata just logs an error in console

https://github.com/ipfs-shipyard/nft.storage/blob/35fe3adcab4e27e7c4402fd89c4308c04522dcdd/site/src/routes/nfts-upload.js#L79-L88

As it turns out `pinByHash` was failing all along because `Content-Type` header was missing, but we missed it because those errors were handled or reported.

[2021-05-06 23:28] alanshaw commented on #102
This is resolved in #100 - errors are captured and reported to Sentry.

[2021-05-07 00:09] Gozala commented on #102
And #56 fixes the mentioned issue

[2021-05-07 00:10] #102 closed

[2021-05-07 10:22] hugomrdias opened #103 "add api test github action"

[2021-05-07 13:21] alanshaw opened #104 "Move migration tools to root level"
They are useful beyond migrations.

https://github.com/ipfs-shipyard/nft.storage/pull/97#pullrequestreview-653968399

[2021-05-07 13:22] alanshaw commented on #101
You can click on the CID to view the data via an IPFS gateway.

[2021-05-07 14:38] #99 closed

[2021-05-07 14:38] #103 closed

[2021-05-11 13:05] alanshaw commented on #90
This is expected. We explicitly decided to use passwordless auth (via https://magic.link/) so we could eventually enable wallet auth, and ideally login with metamask. We also we don't have to centrally store user passwords and expose ourselves to any security implications that may have.

[2021-05-11 13:06] alanshaw commented on #101
Please say if you need any further help!

[2021-05-11 13:06] #101 closed

[2021-05-11 13:07] #30 closed

[2021-05-11 18:26] CryptoZifter opened #110 "[Question] Filecoin linkage?"
All just a question, in looking over the API and bouncing that against the primary site which indicates metadata stored on Filecoin, I see nothing in the current API with any connection to Filecoin. No properties that allow setting of the metadata. Thus far it appears to just provide the IPFS interfacing. Is this a fair assessment of the state of things currently?

Thanks
CZ

[2021-05-12 08:55] alanshaw commented on #110
No, all data uploaded/pinned to nft.storage is stored on Filecoin. Deal information is returned in the `/status` and `/check` endpoints. See https://nft.storage/api-docs/#model-Deal

e.g. https://api.nft.storage/check/bafkreiem4twkqzsq2aj4shbycd4yvoj2cx72vezicletlhi7dijjciqpui

[2021-05-12 15:02] alanshaw commented on #88
@jonyg80 this should now be resolved - if you're still seeing an issue let me know and post the CID that isn't having it's size calculated.

[2021-05-12 15:02] #88 closed

[2021-05-12 15:17] CryptoZifter commented on #110
Thanks. That helps. What about the actual NTF metadata such as:

If taking the example from the other proof of concept minty
[code]

Would there be an API to set this or is nft.storage merely providing the workflow to process only storage?

Thanks
CZ

[2021-05-12 15:24] hugomrdias opened #112 "Add sw support and fix issues with playwright-test"
fix: fix race in uvu runner, reported by @Gozala
https://github.com/hugomrdias/playwright-test/pull/205

fix: use tape instead of fresh-tape, this was causing CI failures when doing yarn install
https://github.com/hugomrdias/playwright-test/pull/206

feat: add support for service worker so with can have a better test env
https://github.com/hugomrdias/playwright-test/pull/211

[2021-05-12 15:43] jnthnvctr commented on #110
I think the merge @alanshaw  just enabled should do exactly this! Check the examples: https://github.com/ipfs-shipyard/nft.storage/tree/main/client/examples

[2021-05-12 16:00] CryptoZifter commented on #110
Awesome, yes that did it. Thanks

CZ

[2021-05-12 17:44] alanshaw opened #115 "Metadata API documentation updates"
Tracking tasks from here https://github.com/ipfs-shipyard/nft.storage/pull/56#pullrequestreview-653380390

* [x] We need an update to the [OpenAPI schema](https://github.com/ipfs-shipyard/nft.storage/blob/main/packages/website/public/schema.yml)
* [x] We should alter the docs for the JS client on the homepage to use the new `store` method
* [x] We should change the example [here](https://github.co

[2021-05-12 22:14] #110 closed

[2021-05-13 12:30] mehulagg opened #116 "Files UI is showing duplicate CIDs"
Files UI is showing duplicate entries for CIDs

[2021-05-13 13:50] alanshaw commented on #116
We had a bug where uploading the same file twice would result in a duplicate entry in our system. This was fixed a couple days ago now and it's safe to delete any duplicate you see. Please shout if it's still happening for you!

[2021-05-14 14:08] #112 closed

[2021-05-14 14:32] #116 closed

[2021-05-14 18:05] hugomrdias commented on #98
done

[2021-05-14 18:05] #98 closed

[2021-05-15 13:25] alanshaw commented on #66
fixed in https://github.com/ipfs-shipyard/nft.storage/commit/1dbdabaa1c1b9440ad5a32800f9029d740d600bb

[2021-05-15 13:25] #66 closed

[2021-05-18 00:37] glitch003 opened #134 "CORS / Access-Control-Allow-Origin using storeBlob"
I am unable to upload from the browser using the storeBlob method because of the error that no Access-Control-Allow-Origin header is present.  Could you add Access-Control-Allow-Origin: * to the API?

Thanks!

[2021-05-18 14:23] Ronak-59 opened #138 "Client side tokens and scoped tokens"
Just tried to use the JS library and noticed that the API calls exposes the `API_TOKEN` in the header field "Authorization" as also mentioned in the [docs](https://nft.storage/#docs).

This `API_TOKEN` can then be used by anyone to create a client and execute [`client.delete`](https://ipfs-shipyard.github.io/nft.storage/client/classes/lib.nftstorage.html#delete) function maliciously, thereby, dele

[2021-05-18 19:43] mikeal opened #139 "Move repo to nftstorage org"

[2021-05-18 19:43] mikeal opened #140 "Add “copy” button to API token UI"

[2021-05-19 06:57] alanshaw commented on #140
Assuming this would copy the token to a different account?

[2021-05-20 14:49] alanshaw commented on #134
Sorry for the delay - are you still having this problem? The header _should_ be being sent for both pre-flight and regular requests. Could you screenshot the failing network request from the devtools, including the sent and received headers?

[2021-05-20 14:57] alanshaw commented on #138
Yes - this is a known issue 😄! An nft.storage API key **should not** be **bundled** with a web application. A web application _could_ request a user obtain a key from nft.storage for use with the app though.

We're working to allow client side wallet auth so this flow will be smoother/safer in the future.

[2021-05-22 05:17] Ronak-59 commented on #138
@alanshaw In that case, maybe the landing page  / docs should not mention that the library can be used in the browser side until this is fixed? Or maybe there should be a note mentioned?

You mean asking users for nft.storage key everytime they visit the dApp site? That would be a bad UX for users of NFT applications. Web3 applications are already confusing for non-technical users as they struggle

[2021-05-22 05:28] Ronak-59 commented on #140
@alanshaw I think the author is referring to a button called "Copy" next to each API Key which would instantly copy that key to clipboard on click so that user can paste it wherever needed. This will help avoid users having to manually copy the whole `API Key` string.

On mobile devices, too, it's difficult to copy entire Key as it's not visible. (Maybe that webpage is not responsive?) Implementat

[2021-05-22 05:53] alanshaw commented on #140
yeah that makes sense 🤦‍♂️

[2021-05-24 11:06] alanshaw opened #148 "Allowlist for access to pinning service API"
We're getting a significant amount of abuse of people using the pinning service API. Large amounts of non-NFT data. We should maintain an allowlist and have users apply to use this API.

refs https://github.com/ipfs-shipyard/nft.storage/issues/70
refs https://github.com/ipfs-shipyard/nft.storage/issues/55

[2021-05-24 11:08] alanshaw commented on #139
List of things that need to be done for this to happen:

1. Transfer ownership of the OAuth apps for logging in
1. Update the link to the JS client docs on the site (and the footer link)
1. Add Cloudflare pages to the new org and reconfigure on Cloudflare
1. Update links on README

[2021-05-24 11:08] alanshaw commented on #134
ping @glitch003

[2021-05-24 16:01] mikeal commented on #140
The description could have been more specific, I wrote this up on my phone while you were giving a demo ☺️

[2021-05-24 16:07] jnthnvctr commented on #89
Given we chatted a few weeks ago, I'll close this out - but let us know if you're stuck!

[2021-05-25 08:46] alanshaw opened #151 "Cached yarn install in CI"
Use `bahmutov/npm-install@v1`?

depends on #150

[2021-05-26 08:27] #151 closed

[2021-05-26 11:42] #140 closed

[2021-05-26 14:08] alanshaw opened #158 "Expose ipfs:// -> gateway URL converter in client"

[2021-05-27 10:23] olizilla opened #160 "root yarn install fails on node 16"
The `re2` dep fails to build under node 16, looks like a fix landed recently https://github.com/uhop/node-re2/issues/100

[code]

[2021-05-27 10:28] olizilla commented on #160
[code]

and it looks like `url-regex-safe` should pull in th new version of re2
https://github.com/niftylettuce/url-regex-safe/blob/fc0028a721097155860ffa5910321dc22866e4e1/package.json#L20

[2021-05-27 10:51] olizilla commented on #160
oh `url-regex-safe` did a major version bump from 1 to 2, and used to depend on an explicit version of re2, so `get-urls` is not going to pull in that change without a bump. https://github.com/niftylettuce/url-regex-safe/commit/27ebe3868061f2df2f424f473783744c8a6793e8

[2021-05-27 10:54] olizilla commented on #160
Adding a resolutions property to the root package.json "fixes" it. Any objections?

[code]

[2021-05-27 11:02] olizilla commented on #160
woosh! we are locked to a deprected version of `url-regex-safe@1.1.0`

https://www.npmjs.com/package/url-regex-safe/v/1.1.0

[2021-05-27 11:41] alexkeating commented on #138
Is there any place to track the progress of resolving this issue or something with the preferred implementation to help guide a contribution? I would love to use this package in a project I am working on

[2021-05-27 13:23] olizilla commented on #160
npm does not include deprecated versions in it's version resolution. yarn, it seems does.

you can only recreate this problem in the `get-urls` module if you use yarn.
[code]

This is my recurring experience of using yarn. Some nice logging and some significant and suprising differences in module resolution from npm. _grumble_

[2021-05-27 15:18] vasco-santos commented on #160
Just hit this exact issue trying to run the project

[2021-05-27 21:51] elatoskinas opened #164 "[Question] / endpoint vs /check endpoint returns different results for queued pins"
I've pinned some files using remote pinning yesterday. When I call the endpoint via `/`, I can see a CID as `queued` in the pin. However, when I use `/check/{cid}`, it shows that the pinning has `failed` status.

Is there any recommendation for resetting the pin or otherwise solve the issue to ensure the files get pinned? And are the messages inconsistent in this case, or should these two results

[2021-05-27 22:18] alanshaw commented on #164
Can you post the CID you're seeing this issue with? They should be the same.

[2021-05-28 13:00] alanshaw opened #165 "Use consistent Node.js version in CI"
See discussion here https://github.com/ipfs-shipyard/nft.storage/pull/162#issuecomment-849642791

Node.js is current stable so probably a good idea to use that :)

Depends on:

* [x] https://github.com/ipfs-shipyard/nft.storage/pull/162

[2021-05-28 13:00] #160 closed

[2021-05-29 12:01] elatoskinas commented on #164
@alanshaw Thanks, re-pinning again via `pin.remote.add` resolved the issue, and I managed to get all the files pinned. I have left one CID on failed, so you can examine the issue: `Qmava2gbqnmnYXEmvZorb1MaR2uzm7qzwrMhnmX92qve4V`

It appears that this also happens for other statuses. For example, this one checks with `pinned` successfully: `QmUP87EjWywkXLk3jfhhJKWtJQXqjuuH8zxNBVPxb1UGSX`, but shows

[2021-06-01 10:02] hugomrdias commented on #134
I can’t reproduce this error, we need more information to understand whats happening on your side. We have the headers for CORS permissive enough for this to work.

I'm going to close this for now, but please re-open this with more info and we will try to help.

[2021-06-01 10:02] #134 closed

[2021-06-01 14:18] #158 closed

[2021-06-01 18:03] alanshaw commented on #164
So, I can see that the filecoin deal for this CID is "queued" but the _pin_ "failed". The systems for pinning and deal making are separate so there's a chance the deal making system was able to retrieve from the network but our IPFS cluster was not.

https://api.nft.storage/check/Qmava2gbqnmnYXEmvZorb1MaR2uzm7qzwrMhnmX92qve4V

I can't see why it would appear as "queued" in the pin info for the `/`

[2021-06-01 23:49] alanshaw opened #170 "NFTS_IDX out of sync with NFTS"
I'm almost certain this was a bug that was fixed where deleted NFTs weren't also deleted from the index and I seem to remember that there were about 1000 of them.

Need to double check this and then get them removed from the index.

[2021-06-02 01:17] Bentoon opened #171 "upload limit"
Hello
First : Thanks so much! this is a great idea.
Especially as more NFT's become Spatial (3D & XR) and Interactive! But as these are not Still images or videos, they require more storage.
I make interactive graphic novel NFT's for touchscreen & XR with WebGL.
https://gateway.pinata.cloud/ipfs/QmVAsUUfWeuNrdfbNRxx5rwWEDyK2CiaBqUo99t5DLp8Mx/
I usually use IPFS Pinata  & ARweave but I really think

[2021-06-02 10:26] olizilla opened #172 "Support CAR uploads 🚘✨⤴️"
[Content Addressed Archives (CAR)](https://github.com/ipld/specs/blob/master/block-layer/content-addressable-archives.md) package up blocks with their CIDs. Users could pre-compute the root CID for their assets by creating the CAR file locally and uploading that. nft.storage would store the exact set of blocks provided in the CAR, and the single root CID listed in the CAR header would be used as t

[2021-06-02 11:10] olizilla commented on #172
OpenAPI schema is defined here https://github.com/ipfs-shipyard/nft.storage/blob/main/packages/website/public/schema.yml

[2021-06-02 12:36] alanshaw commented on #172
🚀 ✨

I'm just wondering how much of the CAR stuff we can offload onto cluster.

* Cluster already requires single root.
* I have the same assumption about Cluster automatically finding missing blocks from the CAR so yes we probably need to ensure it is complete.
* It's uploaded via the Cluster `/add` endpoint so I assume the root is pinned automatically (just like IPFS add). We're actually relying

[2021-06-02 12:46] olizilla commented on #172
We can skip CAR verification in the client, and let the server tell is if something is wrong. We'd need to complete the refactor of the unixfs exporter to have a resonable bundle size for an http client, so yes, it's worth punting on client-side validation for this iteration. `ipfs-car` will produce complete CARs with a single root.

We could add a verify option there to check that a provided CAR

[2021-06-02 12:49] olizilla commented on #172
oh mime types https://github.com/ipld/specs/issues/368

[2021-06-02 13:13] hsanjuan commented on #172
yes.

The car header must have a single root in it. This is the CID that is pinned and is what cluster sends back.

Cluster does not inspect the CAR, just block-puts whatever is in it. If blocks are missing, or there are more blocks than needed, it will just block/put anything and then tell ipfs to pin the root. So yes, ipfs (not cluster), will try to find missing blocks.

Yes, cluster always pins

[2021-06-02 19:31] alanshaw opened #173 "Increase 100MB upload limit"
The 100MB upload limit currently exists because nft.storage is hosted on Cloudflare and this is the upload limit for workers.

We plan to increase (or maybe even remove) this limit asap.

In order to enable parallel uploading and minting of NFTs we're first going to [enable CAR file uploads](https://github.com/ipfs-shipyard/nft.storage/issues/172) and then do the work to support chunked CAR upload

[2021-06-02 19:33] alanshaw commented on #171
Hey @Bentoon I've just opened an [issue](https://github.com/ipfs-shipyard/nft.storage/issues/173) to track this endeavour - we're working on increasing the limit asap.

[2021-06-02 19:33] #171 closed

[2021-06-02 19:37] alanshaw commented on #138
@alexkeating not just yet, we're currently planning for this and will hopefully be working to resolve it soon.

[2021-06-02 19:37] alanshaw commented on #164
ping @elatoskinas

[2021-06-02 19:40] alanshaw commented on #89
Just closing this as I know there have been conversations outside of github. Please ping us on slack or open an issue here if there's something you need help with!

[2021-06-02 19:40] #89 closed

[2021-06-02 19:45] alanshaw commented on #63
This issue can now be tracked here: https://github.com/ipfs-shipyard/nft.storage/issues/173

[2021-06-02 19:45] #63 closed

[2021-06-03 10:05] elatoskinas commented on #164
@alanshaw In the pin info via `/`, it shows this (which still says queued, and doesn't show the deal):
[code]

The "queued" in the pin info I'm referring to is another CID:
[code]

Upon checking, it gives a different result:
[code]

Do you recon this is a discrepancy in consistency overall?

[2021-06-03 15:42] Bentoon commented on #173
Amazing! @alanshaw Thanks & keep me in Loop. Much obliged

[2021-06-04 02:13] dysbulic opened #175 "CORS error connecting to api.nft.storage through the browser"
When I attempt to upload a file using the web UI, I am getting a CORS error and the file isn't added:

[code]

[2021-06-04 02:14] dysbulic commented on #175
The error is misleading. Apparently I was getting it b/c I was trying to upload a SVG. It works with a PNG.

[2021-06-04 11:36] hugomrdias commented on #175
@dysbulic any chance we can get access to that svg to debug this ?

[2021-06-04 16:23] dysbulic commented on #175
Sure. I was disappointed when it didn't work. I tried a couple different ones, and thought it was the `script` tag, but [this one](https://dhappy.org/.../art/by/Will%20Holcomb/MetaGame%20Flag/svg.svg) also fails.

[2021-06-04 16:26] hugomrdias commented on #175
Cool thank you im able to reproduce, i will look into it.

[2021-06-04 17:01] dysbulic commented on #175
I didn't realize there was a `script` tag in the image I referenced. It didn't do anything, but it was there.

Once I removed it, the file uploaded.

There are valid reasons for disallowing images with scripts though honestly the `img` tag doesn't execute them and that's what people will be using to display NFTs.

[2021-06-04 17:05] hugomrdias commented on #175
Well its actually a security issue, that svg has a inline script tag to inject the animation library which in this case is probably
 harmless but for bad actors could be bad.
To be able to upload this you need to use the others options that we have that use `FormData` and not `Blob`.
For the js library this would be:
- `client.store`
- `client.storeDirectory`

For the HTTP API this would be (https

[2021-06-04 17:07] hugomrdias commented on #175
what we could improve is to return a better error in this situation, i will look into that

[2021-06-08 19:00] flatout opened #177 "Help request IPFS pinning"
Hello, I created an NFT on Zora but need to edit the metadata. I read your notice that NFT.storage could be used as a pinning service on IPFS.

Do you have some instructions or tutorial on where on the IPFS site I set nft.storage and how I edit the Etherscan doc?

Thank you.

[2021-06-09 16:38] baxterjfinch opened #179 "Cannot Store Blob Data"
No matter what I try, I cannot store a json Blob, even with plain-text.

Example in documentation here also does not work:

https://github.com/ipfs-shipyard/nft.storage/blob/e619a85a818417a9f045c43816a977c3a9975595/packages/client/examples/node.js/storeBlob.js

I also cannot store a simple string.

Error received:

[code]

Attempted with Node versions:
10.15.3
12.18.3
13.11.0

[2021-06-10 13:51] alanshaw commented on #179
We're targeting Node.js 14 and 16 - would you mind trying with one of those versions?

[2021-06-14 00:11] baxterjfinch commented on #179
Thanks, I'll try that.

Im also uploading a <Buffer> as an image and I don't see the image. This is the metadata uri:

https://bafyreihplvtc5uyk7dqcsehn6hlanzwelsytd7l4n5pbj2effjvqcj2giu.ipfs.dweb.link/metadata.json

and the image uri in the metadata shows:

https://bafybeibgclvtqrlopwx5sohrtzxgwx3ar627cfsrsbyqzg5z62vc3luuje.ipfs.dweb.link/pla0.jpg

This is the call:

[code]

where `picture` is of

[2021-06-14 14:18] alanshaw commented on #179
The [`File` constructor](https://developer.mozilla.org/en-US/docs/Web/API/File/File) takes an array of buffers, try:

[code]

[2021-06-14 15:34] baxterjfinch commented on #179
Amazing, thanks!

[2021-06-14 15:34] #179 closed

[2021-06-14 16:16] hugomrdias opened #181 "Database Migration"
This issue will help track all the tasks needed to migrate to FaunaDB

- [x] Analise all the KVs and code to figure out the best structure to store in FaunaDB
- [x] Build a pipeline to download all the KV data to a local LevelDB
- [x] Build a basic pipeline to upload local LevelDB data to FaunaDB
- [ ] WIP Test out FaunaDB queries
- [x] WIP Test out FaunaDB aggregations
- [x] Build validation into

[2021-06-14 16:36] Gozala opened #182 "Why can't we stream upload to cloudflare workers?"

[2021-06-14 16:38] Gozala opened #183 "Switching to cloudfare kv store to real db"
Creating this so we can retroactively document how did we end up deciding to use fauna db.

[2021-06-14 16:44] Gozala opened #184 "how do we do aggregate state / stats"
TODO: Document discussion that happened on how do we go about it.

[2021-06-15 16:43] alanshaw commented on #170
Closing as these are in the process of being removed now.

[2021-06-15 16:43] #170 closed

[2021-06-15 16:45] alanshaw commented on #183
@gozala is this a duplicate of https://github.com/ipfs-shipyard/nft.storage/issues/183 ?

[2021-06-15 17:16] #172 closed

[2021-06-15 17:58] contra commented on #182
@Gozala You might find this useful - this is working for me fine using node, just using superagent to stream a file into IPFS. I think the 100mb limit is there for the workers still (your other issue) but for simply avoiding OOM on the node end it works.

[code]

[2021-06-16 06:17] Gozala commented on #183
No it is #183 itself 😂

[2021-06-16 07:06] Gozala commented on #184
Unlike traditional SQL databases Fauna does not have an effective way to query aggregate states e.g could documents in the collection (equivalent of counting records in table). We have identified two different ways to overcome this challenge that require different tradeoffs:

1. Faunas official blog post suggests [Using ACID Transactions to Combine Queries and Ensure Integrity](https://fauna.com/b

[2021-06-16 07:32] askender opened #188 "[Feature Request] Could we add metadata such as title in nft.storage, so we can remember it better?"
As a user, I think it is useful feature.

As a dweb developer, I think NFT is one of the choices. People can make the data public and still mint the NFT and sell License.
I'm developing a dweb search engine:  https://dweb-search.on.fleek.co
Hope we can cooperate in the future.  (you can found me(same name) in filecoin-slack)

[2021-06-16 21:44] Gozala commented on #183
There are few things that do not fit well across nft.storage and niftysave DB schemas that I'd like to call out / discuss.

1. Given that niftysave each resource has has links to metadata that referred to it, our `addDirectory` and `addBlob` endpoints no longer fit that model well. It introduces some resources that have no metadata associated with them. `addDirectory` is the worst, because we stil

[2021-06-17 09:56] alanshaw commented on #177
There's some brief docs on adding nft.storage as a _remote_ pinning service here https://nft.storage/#configure-as-a-remote-pinning-service

...I'm not certain this is what you need.

I can't really speak to how you edit metadata for an NFT you created on Zora. In IPFS, data is immutable (although there are some existing functionalities to make things appear mutable as well was some things current

[2021-06-17 17:10] Gozala opened #191 "Currently upload blob claims that file was pinned which may not be true"
Here is the code

https://github.com/ipfs-shipyard/nft.storage/blob/fe2f969876e9509f1aef80dd3322ae476d68582a/packages/api/src/routes/nfts-upload.js#L57-L72

When cluster adds it may not be pinned it maybe different.

[2021-06-17 17:22] Gozala commented on #183
Right now our code is really hand-wavy about the `size` it can be file size or dag size etc... We should figure out what we care about storing and when. cluster add provides size and bytes but we don't know which one to use.

[2021-06-17 17:38] alanshaw commented on #191
Not sure I follow?

[2021-06-17 17:56] alanshaw opened #192 "Surface deal data selector in client"
The deal data selector is now available so if folks actually want to retrieve data from Filecoin they'll soon be able to use this (🔜 currently needs custom lotus client https://github.com/filecoin-project/lotus/pull/6393).

![image](https://user-images.githubusercontent.com/152863/122448788-0a075580-cf9d-11eb-8faf-e132748928d2.png)

[2021-06-17 20:36] Gozala commented on #191
Line 57 does not guarantee that content was pinned it may be queued or fail, yet on line 70 we set status to pinned. @hugomrdias noticed inaccurate pin states during data migration which we think might be attributed to this.

[2021-06-17 21:59] alanshaw commented on #191
Wait, really? I was under the impression that add only responds after content has been added to the cluster.

@hsanjuan is it possible to send data to the `/add` endpoint, receive a successful response with a CID and for it to not be pinned?

@Gozala I'm aware of an issue where if cluster reports a pin status as failed then we don't re-check with cluster, meanwhile cluster will keep trying to pin

[2021-06-18 08:45] vasco-santos opened #193 "Browser example fails with CORS"
Running the [browser example to upload CAR](https://github.com/ipfs-shipyard/nft.storage/tree/main/packages/client/examples/browser/car) with production nft.storage returns a CORS error with a production API Token

cc @olizilla

[2021-06-18 09:15] olizilla commented on #193
hmm, i got this as well, but now I don't, I can use the browser car example against prod without issue. It uses the same endpoint `/upload` which has CORS headers set https://github.com/ipfs-shipyard/nft.storage/blob/630a611eda8faa24e6e49d0781381d81cd1e242c/packages/api/src/index.js#L74

[2021-06-18 09:42] alanshaw commented on #193
Needs HTTPS - I'm submit a PR

[2021-06-18 10:14] #193 closed

[2021-06-18 13:00] #192 closed

[2021-06-21 15:00] hsanjuan commented on #191
Well yes, since the pinning part is async. You may add and finish that request, but the item is queued while other things are pinning.

[2021-06-21 15:40] #173 closed

[2021-06-22 16:28] #191 closed

[2021-06-23 08:38] alanshaw opened #206 "Cannot get DAG size for pin in cron job"
There's a few pins that are failing to be updated with their size in the cron job and are "stuck". Either they are _massive_ and 30 minutes is not enough to determine their size or they are not fully pinned (should not be the case). Needs investigation and resolution:

[code]

(AbortError is because the request is aborted after 30m)

[2021-06-23 08:41] alanshaw opened #207 "File upload still says "100MB file limit""
This is still true, but if using a CAR file it is limitless so we need to adjust the wording.

[2021-06-23 08:44] ribasushi commented on #206
@alanshaw just timeouts on your end it seems:
[code]

[2021-06-23 08:48] alanshaw commented on #188
🙏 do you have a proposal for metadata?

The off-chain part of NFTs (the part that nft.storage deals with) are a metadata file and a image/video (typically). The metadata file _should_ have a `name` property and possibly a `description` to comply with the ERC721 and ERC1155 specs for NFTs. Can you use this information in your search engine?

See "ERC721 Metadata JSON Schema": https://eips.ethereum.

[2021-06-23 08:49] alanshaw commented on #177
Please reopen if there's something else we can help with.

[2021-06-23 08:49] #177 closed

[2021-06-23 13:28] askender commented on #188
a proposal for metadata:    https://github.com/anwen/dweb-search/wiki/A-proposal-for-metadata-which-support-NFT-and-other-kinds-of-non-fungible-assets

Yes, name and description is basic, optional we can add `authors` (wallet info can be used as a donation address), `license`, `asset_type`

The key info:
- if nft.storage has `name` field, it is good for users who have a lot of NFTs, easier to reme

[2021-06-24 07:30] wangzhuo-or-json opened #211 "filecoin calibration reset"
After filecoin calibration is reset, does the file data stored on nft.storage still exist?

[2021-06-24 07:37] ribasushi commented on #211
Yes, 1000%. Data in `nft.storage` is backed up in multiple ways and no single event can cause eve one of its CIDs go away.

The "calibration reset" you are referring to is the reset of one of the many filecoin **non-production test networks**. nft.storage does not store anything there in the first place, we only use mainnet miners.

[2021-06-24 07:37] #211 closed

[2021-06-24 12:38] anudit opened #215 "import error: 'decode' is not exported from '@ipld/dag-cbor' (imported as 'decodeDagCbor')."
Hey, I am running into this error when using,
`"nft.storage": "^3.0.1",`
`"next": "^11.0.1",`
`"webpack": "^5.40.0"`

[code]

Build works fine on version `"nft.storage": "^2.1.1",`

[2021-06-24 13:02] alanshaw commented on #207
Resolved by https://github.com/ipfs-shipyard/nft.storage/pull/208

[2021-06-24 13:02] #207 closed

[2021-06-24 14:01] olizilla commented on #215
Can you give any more details on your setup, particularly the webpack config? can you point us to a repo? I've just created a minimal next.js 11 example app that includes the nft.storage client and the prod build works without error

[code]

[2021-06-24 14:23] anudit commented on #215
Here is the repo, https://github.com/anudit/convo, `yarn build` works fine on it.

After upgrading to `"nft.storage": "^3.0.1"`, I run into the above error.

[2021-06-24 15:41] olizilla commented on #215
I've cloned the default branch of https://github.com/anudit/convo and run
[code]
and i get a bundle error:

[code]

this is before i upgrade the `nft.storage` dep.

[2021-06-24 18:45] anudit commented on #215
Yeah @olizilla, it needs the .env secrets to build. I guess I'll triage on it a bit more get back soon.

[2021-06-24 21:50] zangezi39 opened #216 "client.store function results in a file containing ipfs cat /ipfs/<CID>/: unknown node type"
I am trying to upload a jpg file using the store() but keep getting a text file containing: *ipfs cat /ipfs/<CID>/: unknown node type*. The function is below:

    const metaData = await client.store({
        id: _tokenId,
        name: this.state.tokenTitle,
        description: this.state.tokenDescription,
        image: new File(["file"], 'SurNFT-1.jpg', { type: "image/jpg", }),
    });

[2021-06-24 21:58] alanshaw commented on #216
"file" should be replaced with your file data

[2021-06-25 18:12] anudit commented on #215
1. A fresh install of `node_modules` didn't help.
2. I can't reproduce the error on your [minimal repo](https://github.com/nftstorage/nft.storage-example-next.js) using `3.0.1` and the same next/webpack config.
3. Downgrading to `2.1.1` from `3.0.1` fixes the error on my repo.
4. 'decode' is exported from '@ipld/dag-cbor', I checked.

No clue why, I'll stick to `2.1.1` for now.

[2021-06-25 18:40] jonyg80 opened #217 "error while using /packages/client/examples/node.js/storeCar.js"
Following error is thrown while using "/packages/client/examples/node.js/storeCar.js" file to upload a folder containing a file of 6.3GB.

[code]

[2021-06-28 01:18] wantedpixelmaza opened #219 "GB"
Hello!)Tell me pls how much GB i can store ?

[2021-06-28 14:14] alanshaw commented on #217
paging @rvagg and/or @achingbrain - can you help?

[2021-06-28 18:44] alanshaw opened #220 "Automatic client side CAR chunking for large data"
Currently we require users to upload CAR files when they want to upload big data.

Our client could automatically detect large files and create a chunked CAR automatically to make development easier.

[2021-06-29 01:45] rvagg commented on #217
Nevermind, it was as suspected, an awkward maxuint32 bug that I replicated by making a single 6.3G file inside a single directory and running it through ipfs-car: https://github.com/ipld/js-dag-pb/pull/21 - test case in there matches roughly what's being seen to trigger this bug, a very simple and small block but with an awkward number that hits an edge.

[2021-06-29 01:52] rvagg commented on #217
`@ipld/dag-pb@2.1.1` fixes this, `@vascosantos/ipfs-unixfs-importer` uses `^2.0.2` so it should pick it up on a remove & reinstall, although @vasco-santos you may want to update your ipfs-unixfs-importer fork to grab `^2.1.1` to clear this. There's been more work pushed upstream to the ipfs-unixfs branch that you've forked from that might be worth grabbing too while you're at it.

[2021-06-29 07:31] vasco-santos commented on #217
Thanks for the ping @rvagg , I will update it now

[2021-06-29 07:46] LiMing11111 opened #221 "Storage capacity problem"
I want to know the maximum amount of content that can be uploaded to an account

[2021-06-29 07:47] vasco-santos commented on #217
`@vascosantos/ipfs-unixfs-importer@9.0.3` is shipped

@jonyg80 please update your dependencies and let us know if this does not solve the problem

[2021-06-29 09:32] alanshaw commented on #216
@zangezi39 did this solve the issue for you?

[2021-06-29 13:03] jnthnvctr commented on #219
Hi,

This is a service to provide free storage for nfts. As such, there isn’t a hard cap on the account size (part of our goal is to enable new use cases in NFTs like HD video, AR/VR assets), but we actively monitor the usage, and will be reaching out to folks to confirm the stored content is mapping to nfts (or an actual nft business) to make sure the service isn't being abused. We also have auto

[2021-06-29 13:03] jnthnvctr commented on #221
Hi,

This is a service to provide free storage for nfts. As such, there isn’t a hard cap on the account size (part of our goal is to enable new use cases in NFTs like HD video, AR/VR assets), but we actively monitor the usage, and will be reaching out to folks to confirm the stored content is mapping to nfts (or an actual nft business) to make sure the service isn't being abused. We also have auto

[2021-06-29 13:48] zangezi39 commented on #216
Thank you very much for your response! Unfortunately, no, - I am able to do the client.storeBlob for both the jpeg and he metadata json, but client.store() is giving me the same result. I am quite new to this, so perhaps I am making some basic mistake. Here is the code:

    const uploadFiles = document.getElementById("input-file").files;
    const uploadName = uploadFiles[0].name
    const metaDa

[2021-06-29 13:50] alanshaw commented on #216
Maybe try this?

[code]

[2021-06-29 15:29] zangezi39 commented on #216
It worked! Simple and beautiful :)

Thank you very much!

[2021-06-29 15:29] #216 closed

[2021-06-29 22:30] skogard opened #222 "CID V1 Calculation Incorrect?"
Hi, it looks like the CID nft.storage stores the files under may be incorrect. It is not consistent with the actual CID v1 locally calculated from the file. Maybe I'm missing something, but this seems pretty straight forward.

Basically what's happening:

1. I compute the cid (v0)
2. I convert it into v1
3. Then I upload the same content to nft.storage and get the response back.
4. I compare the n

[2021-06-30 14:13] alanshaw commented on #222
Yes this can be confusing but it's consistent with output from `ipfs add` when v1 CIDs are enabled:

[code]

In IPFS when you enable v1 CIDs, you also implicitly enable an option called "raw leaves". The option saves some bytes in the generated DAG by not wrapping leaf nodes in a UnixFS protobuf. You can explicitly opt out of raw leaves like this to get the v1 CID you're converting to in your exam

[2021-06-30 15:24] skogard commented on #222
Oh got it! I finally got it to match by adding the rawleaves option. Thank you!

[2021-06-30 15:24] #222 closed

[2021-07-01 19:54] bennyvenassi commented on #215
Hey,
I got the same issue while using nft.storage in an Angular 12 Project. With 2.1.1.  I can compile the project.

[2021-07-01 20:05] alanshaw commented on #215
🙏 we need some code that reproduces the problem so we can look into it - @bennyvenassi can you help?

[2021-07-02 12:42] bennyvenassi commented on #215
I tried to replicate the issue in a clean angularproject with only nft.storage in it. And... it compiles without any errors.
In my "main" project, where I use ethers, web3modal, etc. i still get the error.

And of course, you can take a look into my code. I'll attach you both "projects".

[nftstorage.zip](https://github.com/ipfs-shipyard/nft.storage/files/6754607/nftstorage.zip)

[2021-07-04 18:59] jonyg80 commented on #217
@vasco-santos @vascosantos/ipfs-unixfs-importer@9.0.3 solves this problem but i think version 10 again have this bug.

[2021-07-04 22:10] vasco-santos commented on #217
@jonyg80 did you replicate the problem with it?

New unixfs-importer should be using the latest @ipld/dag-pb per https://github.com/vasco-santos/js-ipfs-unixfs/blob/chore/release-fork/packages/ipfs-unixfs-importer/package.json#L49

[2021-07-05 05:18] jonyg80 commented on #217
I am getting same problem with 2.62 GB file now
[code]

[2021-07-05 05:19] jonyg80 commented on #217
[code]

[2021-07-05 06:07] vasco-santos commented on #217
can you confirm that `ipld/dag-pb` being used is `2.1.2` and that this was not happening with `@vascosantos/ipfs-unixfs-importer@9.0.3` ?

[2021-07-05 06:21] jonyg80 commented on #217
this problem is happening only with a file of (approx. 2.6 GB) , with bigger or smaller files this is working fine.
Like I tried it with 662mb file and 6.3 GB file it works fine.

[2021-07-05 06:31] jonyg80 commented on #217
Yes, `ipld/dag-pb` being used is `2.1.2` and its also happening with `@vascosantos/ipfs-unixfs-importer@9.0.3` , problem is happening as mentioned above.

[2021-07-05 06:50] vasco-santos commented on #217
@rvagg can you help here?

[2021-07-05 06:58] jonyg80 commented on #217
https://github.com/jonyg80/js-dag-pb/runs/2987546318?check_suite_focus=true
Test results on different size ran by me.

[2021-07-05 07:40] rvagg commented on #217
Well, this is a little embarrassing, but here's the fix, and I've pulled in your test cases too @jonyg80: https://github.com/ipld/js-dag-pb/pull/23

[2021-07-05 08:20] yuhai-yang opened #231 "ipfs cat /ipfs/XXX/: unknown node type ;image upload failed"
The parameter url is a cloud storage image link.
After i get the result.
I don’t know why I can’t view it from ipfs.io .
[code]

The json was
[code]
https://ipfs.io/ipfs/xxxxx/apic33638.jpg shows nothing
![image](https://user-images.githubusercontent.com/52445959/124440070-c8ecaf00-ddac-11eb-8eea-e27422348df5.png)

I don't know how to solve it.
:)

[2021-07-05 12:53] mehulagg commented on #217
Fixed

[2021-07-05 12:56] jonyg80 commented on #217
Fixed

[2021-07-05 12:56] #217 closed

[2021-07-06 06:11] #231 closed

[2021-07-06 06:47] alanshaw commented on #231
Did you solve this @yuhai-yang?

[2021-07-06 07:43] yuhai-yang commented on #231
Yes
I kept debugging and found that the type of Blob is wrong.
Finally, what I get is the Buffer in the Blob.

[2021-07-06 08:06] Gozala opened #232 "What content relations should we we retain in DB ?"
Hi Team,

In the process of redesigning database schema I find myself contemplating following questions:

1. Should directory upload capture relation to all the content (CIDs) that it encloses ?
   - We do retain:
     - File names
      - content types (this one is really questionable as these are inferred by browser and isn't really saved in the the IPFS)
   - However
      - If we encounter CID

[2021-07-06 08:28] Gozala commented on #232
I think ability to recognize that certain upload ended up on the chain is really significant.
- If upload has not end up on chain it doesn't really qualify as NFT.

However, unless we do capture which CIDs are part of which uploads it is going to be hard to recognize that.

[2021-07-06 08:45] alanshaw commented on #232
IMHO we need to continue supporting those fields in nft.storage but I wouldn't do any extra work to link them to database entries at least not just now...

I think that's ok - we already have the data so it'll be fast. It also registers someone elses interest in keeping that content around.

Is this essentially the same as the above point or is there some difference I'm missing?

I can't think of

[2021-07-06 10:20] alanshaw opened #233 "Support pin origins"
IPFS cluster now supports pin origins (https://github.com/ipfs/ipfs-cluster/pull/1375) and so does the JS client (https://github.com/nftstorage/ipfs-cluster/releases/tag/v3.2.0).

We should pass them in [here](https://github.com/ipfs-shipyard/nft.storage/blob/98d83ea00a26363632ddaa33ab632831218f5a1e/packages/api/src/routes/pins-add.js#L98).

[2021-07-06 12:28] #221 closed

[2021-07-06 12:28] #219 closed

[2021-07-06 12:30] #165 closed

[2021-07-06 19:46] Gozala commented on #232
Every single file might be referenced from chain, but directory itself may not be. Which may happen not because user intended to abuse the service but because directory upload provided bulk upload option.

[2021-07-07 04:25] ZhangPeibin opened #237 "ipfs resouce to nft"
can I upload an ipfs link ?

[2021-07-12 15:08] alanshaw opened #249 "Spec compliance for Pinning Service API requestid"
Currently the `requestid` is not implemented per spec. We return the CID of the content, not a unique ID for the request. This means that when re-pinning an item a user will receive the same `requestid` as before, which could lead to issues in user applications if expecting something unique.

https://ipfs.github.io/pinning-services-api-spec/#section/Schemas/Identifiers

[2021-07-12 18:32] alanshaw opened #250 "Large uploads can cause multiple rows for the same CID in files listing"
If two chunks arrive in quick succession it's possible for the files listing to end up with 2 (or more) entries for the same CID. This is because Cloudflare KV stores are eventually consistent and the worker does not see the write creating the NFT entry. It then creates a new one (overwriting the old) and adds _another_ entry to NFTS_IDX for the same value.

I expect this will resolve itself when

[2021-07-12 19:00] alanshaw opened #251 "Do not set size for partial DAG"
If we receive a CAR file upload then we set the size property for the NFT to be the size of the upload. For multi chunk CAR uploads this'll be set to ~10MB when actually the real size will be more.

We have to wait for the cron pin job to run and obtain the real size from IPFS Cluster. This happens quickly but the _index_ (NFTS_IDX) is being updated _very_ slowly (backlog). This will be fixed by h

[2021-07-20 07:41] sirpy opened #258 "client side keys"
Any plans for client side keys that can be used for uploading only?

[2021-07-21 09:51] olizilla opened #259 "Use dnsaddr to find ipfs-cluster multiaddrs"
Rather than passing in the full multiaddrs at deploy time:

https://github.com/ipfs-shipyard/nft.storage/blob/b93614ece6806611addea215726ff43f5f7f98bc/packages/api/wrangler.toml#L22

Consider using the dnsaddr `/dnsaddr/nft.storage.ipfscluster.io` so we have the flexibility to drop and reprovision cluster nodes without having to redeploy the api.

[code]

see: https://github.com/multiformats/multi

[2021-07-21 09:54] olizilla commented on #259
Of note, pinata backup can fail if you pass it a multiaddr as an origin that it can't connect to

– https://github.com/PinataCloud/Pinata-SDK#host-node-multiaddresses

[2021-07-21 10:00] olizilla opened #260 "Rework Piñata backup logic"
The v2 cluster has 6 nodes. You can only pass 5 of them to Piñata as origins:

With the current logic, we would pass all 6, as we pass through the static list provided by CLUSTER_ADDRS in https://github.com/ipfs-shipyard/nft.storage/blob/b93614ece6806611addea215726ff43f5f7f98bc/packages/api/wrangler.toml#L22 (currently 3, but will become 6 when we adopt the v2 cluster)

We should upgrade the pinni

[2021-07-21 15:48] adriadrop opened #261 "IPFS pin with nft.storage stuck"
I am using CLI (on latest ubuntu) to pin directory and files to nft.storage but it always gets stuck. Using command like

`ipfs pin remote add  --name=no7 --service=nft-storage QmcWYGJ6tMxLNgBTYyiwhYR8PrweWq9h9VtzyhttGfrV3p`

and it stays like this forever. When I check nft.storage files section on web it shows hashes but with 0 KBs, any ideas what is wrong and what to do/how to pin files and dire

[2021-07-22 09:55] alanshaw commented on #261
Hi @adriadrop, looking at the status check API the CID you listed is pinned properly and has a size:

https://api.nft.storage/check/QmcWYGJ6tMxLNgBTYyiwhYR8PrweWq9h9VtzyhttGfrV3p

We have a backlog of updates to the index for the files listing that's causing sizes to not show up for a while after they've been uploaded. We're migrating to a different database that will resolve this problem, apologi

[2021-07-22 09:55] #261 closed

[2021-07-22 09:57] alanshaw commented on #237
If you have an existing CID you can _pin_ it using the Pinning Services API - https://nft.storage/#configure-as-a-remote-pinning-service

[2021-07-22 09:58] alanshaw commented on #258
Yes, we want to add scopes to our keys for this use case.

[2021-07-22 10:00] alanshaw opened #262 "Add scopes to auth tokens"
This will enable "upload only" keys amongst other things.

[2021-07-22 16:58] talentlessguy commented on #87
Still happens when logging in with GitHub

![image](https://user-images.githubusercontent.com/35937217/126678643-d6a253f8-9699-4fdd-9aa1-63f6539bc4af.png)

I'm using Firefox 90

[2021-07-22 17:38] talentlessguy opened #264 "Getting `Error: Magic Extension Error (oauth): [server_error] Failed to generate temporary magic credential.` when trying to login with GitHub"
I try to login with GitHub and I see this error in console:

[code]

and therefore i can't create API keys because it throws 401 for all requests (related: #87)

[2021-07-22 20:38] talentlessguy opened #265 "Support different MIME types for NFTs"
Sorry if this was opened before, I tried searching "mp3" / "non-image" etc in issues and nothing showed up.

So, I'd like to propose multiple formats support, but ofc not all of them not to spread malware. I think allowing a list of videos / music also would be nice, e.g. those starting with `video/` and `audio/`.

I'm building an audio NFT project but sadly I cannot use nft.storage since MIME typ

[2021-07-22 23:12] alanshaw commented on #87
@hugomrdias do you think you could have another look at this please?

[2021-07-25 14:12] ZhangPeibin commented on #261
@alanshaw Hi , how long it will be ok ? I check ten mins but it also size=0

[2021-07-25 15:13] adriadrop commented on #261
@alanshaw ok this is just web UI problem that is constant. I have more of a problem with ipfs CLI pinning where I run command as I said and it hangs there forever so I am not sure did something get pinned or not. I can use your URL above and see then, but that is kind of suboptimal or buggy  way to check.

Now I have this I tried to pin https://api.nft.storage/check/Qmcxu5Rk3XTz5AiG438GRwbH8szDEUF

[2021-07-25 16:09] adriadrop commented on #261
I made this one again https://api.nft.storage/check/QmUfo84ktFrcrdL423BaQhXt2JngazRwhC6nfn1vzm4epo

it is queued now, wondering when it can be pinned or when it will be failed and why could it fail as some other did?

[2021-07-25 16:14] ribasushi commented on #261
@adriadrop your CID is currently advertised as available from a single source: `12D3KooWSwbezPPycGg5ZKFyqHkzd7HYm9fmr2gh3ptaw21qSBDr`

I can not dial it from the internet:
[code]

It might be a nat traversal issue or something else, but the bottom line is that the service can't get to the content to pin it. What are the details of what serves on your end?

[2021-07-25 16:24] adriadrop commented on #261
@ribasushi hmm maybe I am using this wrong? Do I need to run it like this. Having IPFS daemon or IPFS desktop running while it use **ipfs add** and then also while I use **ipfs pin**. Because I was thinking that I can just fire these commands and it would get propagated somewhere but maybe I need to first have it locally available so others can pick it up?

[2021-07-25 16:29] ribasushi commented on #261
The latter. The "propagate somewhere" is exactly the process of "pinning". IPFS is a **strictly pull-based network**: a node (this includes you) never hosts anything from anyone else (even shards of that) *unless* you actively requested it. For the nft.storage infra to preserve your content you either need to just upload it or you must:
1. make it available via a dht-enabled ipfs node
2. request n

[2021-07-25 16:31] ribasushi commented on #261
cc @ZhangPeibin

[2021-07-25 16:37] adriadrop commented on #261
@ribasushi  makes sense, but I didn't think it through before. I just went "lets pin this"  and since CLI doesn't check can it do that and is content available it just goes like it can be pinned.  Not sure does it make sense to make a note/message for people while pinning that content needs to be available or that daemon needs to be live.  thnx on help.

[2021-07-25 16:40] adriadrop commented on #261
@ribasushi one more question, when will NFT.storage stop trying to pull data and mark pin as failed, meaning when will it timeout. Lets say I pinn something now and go out and my computer goes into suspend and daemon is not active, will it fail or will it continue later, how does this process goes?

[2021-07-25 16:44] ribasushi commented on #261
@adriadrop we don't have a definitive SLA defined around this yet, but "long". There are several parts of the system, the one I am responsible will keep (re)trying for several days.

What time-frame do would you consider reasonable? Let us know and we will discuss this internally tomorrow and put in place something definitive.

[2021-07-25 18:08] adriadrop commented on #261
@ribasushi I have another situation. So I added again the QmUfo84ktFrcrdL423BaQhXt2JngazRwhC6nfn1vzm4epo  CID (which is a directory with files) I have running it on a local node and I can see the files and directory. So it should be available. So I run ipfs pin with nft.storage service and it started pinning or at least it said here https://api.nft.storage/check/QmUfo84ktFrcrdL423BaQhXt2JngazRwhC6

[2021-07-25 18:15] ribasushi commented on #261
@adriadrop the retry is not in-process. It is a cron-like thing, that will go back through "ok... what is there that I don't yet have... let's try again". It will swap to "pending for filecoin inclusion" shortly[1], the system that updates the pin-status ( separate ) may lag a bit: we are in the process of migrating things so that the updates are even more timely/precise.

In short: our status API

[2021-07-25 19:06] adriadrop commented on #261
@ribasushi

About that last thing you said, I am running this command
**ipfs dht findprovs Qmcxu5Rk3XTz5AiG438GRwbH8szDEUFUqni4RwZequRoLf**
12D3KooWSwbezPPycGg5ZKFyqHkzd7HYm9fmr2gh3ptaw21qSBDr
12D3KooWSGCJYbM6uCvCF7cGWSitXSJTgEb7zjVCaxDyYNASTa8i
12D3KooWNyeZ6jSaNdHU2BRPFDADg2LWyuxHrASpvRq1T5hGqga2

it shows 3 peers first is mine 2 others are not, but when I shut down a mine I couldn't retrieve fil

[2021-07-25 19:07] david-dacruz opened #268 "Is it possible to pin using node js ?"
Hi I'm looking to pin thousands of cids is it possible using your javascript api ? Also if you choose to discontinue service for whatever reason, what happens to the original content uploaded on ipfs is it still available with the same hash so that I can pin it myself ?

[2021-07-27 15:20] sentry opened #269 "Error: 413: Request Entity Too Large"
Sentry Issue: [API-2R](https://sentry.io/organizations/protocol-labs-it/issues/2497385029/?referrer=github_integration)

[code]

[2021-07-27 15:32] hugomrdias commented on #269
@alanshaw this is the 100mb limit issue, apparently we now catch the error somewhere inside the worker

[2021-07-28 17:23] nickadamson commented on #265
@talentlessguy you can upload whatever file you want AFAIK. https://github.com/ipfs-shipyard/nft.storage/blob/main/packages/client/examples/node.js/storeBlob.js try this first.

[2021-07-28 17:31] #265 closed

[2021-07-28 17:31] nickadamson commented on #215
@alanshaw @anudit I actually ran in to this problem yesterday. I didn't even get so far as to figure out that nft.storage had the '@ipld/dag-cbor' dependency, ha. What worked for me was 1) delete node_modules folder 2) delete package-lock.json 3) run npm install

You might want to add a step 2.5) check package.json and make sure nft.storage version matches the most recent at https://www.npmjs.com/

[2021-07-30 06:25] JohnnyBDesign opened #275 "Trying to upload a 2.57 GB folder through node to NFT.Storage"
Trying to upload a 2.57 GB folder through node to NFT.Storage into the same directory. I know the upload limit is 100MB, however can I break that up into smaller upload portions into the same directory?  Confused as to how large 10k Generative NFT collectibles store images on IPFS, if anyone could help that would be great! (Already tried Pinata and it did not work)

[2021-07-30 17:49] BaRRaKudaRain opened #276 "[Question] How that thing works?"
Can anyone please explain me how nft.storage works? How IPFS can be interconnected with NFT? What I would see, when I uploaded the file to the net? Can I delete it after? My Item will become tokenized and I would get a smart contract?

I know, I know, a lot of questions. But could anybody answer me, please.

[2021-07-30 17:58] BaRRaKudaRain commented on #276
Fine. Read this blog post.
https://filecoin.io/blog/posts/introducing-nft.storage-free-decentralized-storage-for-nfts/
Seems to be an answer to my such dumb question.

[2021-07-30 18:07] BaRRaKudaRain commented on #276
Fine. Read this blog post.
https://filecoin.io/blog/posts/introducing-nft.storage-free-decentralized-storage-for-nfts/
Seems to be an answer to my such dumb question.

[2021-07-30 18:07] #276 closed

[2021-08-02 09:57] BaRRaKudaRain opened #277 "[Feature Request] Easy "Mint NFT" button like on Pinata"
How about adding the "Mint NFT" button in uploads section to easily mint NFT token? I think it would be a great feature.

[2021-08-02 23:24] mattlockyer opened #279 "Stopped Working: long upload, small byte size and no image data"
Was working fine past couple of days. Now everything I upload has 126/7 bytes size and this response:
https://bafyreie7bylryvuefkr5csewwefpnju4pxfjnyd3b6wpnw7udwlhffz2se.ipfs.dweb.link/

[2021-08-03 09:50] BaRRaKudaRain commented on #275
Somwhere in issues I saw that there's no upload limit on CAR files. So you can pack files into the CAR (_Content-Addressed ARchive_). Just go to [this link](https://car.ipfs.io/) pick some files and upload it to NFT.Storage. Hope it would be helpful.

[2021-08-03 10:40] BaRRaKudaRain commented on #268
Your uploaded content will remain in IPFS, so it still will be available.

[2021-08-04 16:45] salgodev opened #280 "Upload stopped working, getting 500 Internal Server Error"
Hi, it looks like the upload API is currently down. Getting 500 Internal Server Error with the following error response:

`
{
  "ok": false,
  "error": {
    "code": "SyntaxError",
    "message": "Unexpected end of JSON input"
  }
}
`

Any idea what's wrong?

Thanks!

[2021-08-05 04:17] putinogov151616 opened #281 "Hi! Can you increase the limit pls (need 200mb)"

[2021-08-05 06:15] #280 closed

[2021-08-05 21:24] ChrisHelmsC opened #282 "Does the current Node implementation support mp4s, or only images?"
The image property requires a filetype of "image/*". My NFTs are mp4s and I'm concerned that they are not supported at this time.

[2021-08-05 22:36] contra commented on #280
@salgodev Did you figure something out? We're having the same issue - started yesterday.

[2021-08-06 01:08] mikeal commented on #280
Nah, that was a different issue. What we’re seeing now is something new.

[2021-08-06 01:45] vancedy opened #283 "Getting Error 500"
Using the test code in the NPM repository,

I'm gettting Error 500: Internal Server Error at the client.store call.
I tried logging the client, but I am just getting this:

`NFTStorage {
  token: 'TOKEN HERE',
  endpoint: URL {
    href: 'https://api.nft.storage/',
    origin: 'https://api.nft.storage',
    protocol: 'https:',
    username: '',
    password: '',
    host: 'api.nft.storage',
    ho

[2021-08-06 01:53] mikeal commented on #283
Thanks for reporting, we’re looking into it now.

[2021-08-06 03:04] LiMing11111 opened #284 "error 500"
POST https://api.nft.storage/upload 500

[2021-08-06 03:19] HomelyHyperion commented on #283
Yup, same here.

[2021-08-06 03:50] yushenzaishi commented on #283
user node js Error: Unexpected end of JSON input

[2021-08-06 03:52] yushenzaishi opened #285 "can not upload image"
use node js ,have error : Unexpected end of JSON input

[2021-08-06 03:54] yushenzaishi commented on #285
can not upload too when uploading manually on the website

[2021-08-06 03:58] HomelyHyperion commented on #283
![5iqto6](https://user-images.githubusercontent.com/16502719/128453894-bcf03b8b-58e9-4214-b41e-cc6a41b39a31.jpg)

[2021-08-06 07:36] anudit commented on #215
I was able to upgrade to the latest version and have gotten no issues so far.

[2021-08-06 07:36] #215 closed

[2021-08-08 17:33] MikeHibbert opened #289 "Failed to compile when using with ReactJS"
I installed the module using 'npm install nft.storage --save' to my ReactJS project and then ran 'npm start' to run the app and get the following error:

[code]
My project is written in ES7

[2021-08-09 09:09] alanshaw commented on #289
I think this might be related to your Node.js version? What version are you running @MikeHibbert? Try v14 or ideally v16.

[2021-08-09 09:10] alanshaw commented on #285
There was an outage on Friday but it has now been resolved. Please shout if you're still experiencing issues.

[2021-08-09 09:10] #285 closed

[2021-08-09 09:10] alanshaw commented on #284
There was an outage on Friday but it has now been resolved. Please shout if you're still experiencing issues.

[2021-08-09 09:10] #284 closed

[2021-08-09 09:11] alanshaw commented on #283
There was an outage on Friday but it has now been resolved. Please shout if you're still experiencing issues.

[2021-08-09 09:11] #283 closed

[2021-08-09 09:20] ZhangPeibin opened #290 "Failed to upload data with api"
We get this error:

"524: Origin Time-out"
[[Prototype]]: Object
ok: false
[[Prototype]]: Object

the file size : 82472056

[2021-08-09 09:21] alanshaw opened #291 "Support mp4 in image property"
OpenSea allows mp4 in the `image` property (which isn't `image/*` mime type). To retain compatibility with OpenSea we'd need to also support it.

[2021-08-09 10:30] MikeHibbert commented on #289
@alanshaw I'm using v14.2.0, that should be ok right?

[2021-08-09 12:45] MikeHibbert commented on #289
Ok! update!

When I remove the /** @type {AsyncIterable<Uint8Array>} */ JSDoc from that line in src/lib.js it works fine!

[2021-08-09 15:25] jnthnvctr opened #292 "Extend recursive pinning files from inside out in storeDirectory"
See gist here: https://gist.github.com/sbauch/9c49632abc4352b131a33e9438efd008

Objective would be to pin a directory of JSON metadata under the same hash such that that hash can be used as the baseUri. This could be useful when one wants to pin 10k json files for a pfp project, and the user wants those to all be under the same hash (that i can use in baseUri and then append token ID to the path).

[2021-08-09 15:35] hugomrdias commented on #291
i dont have strong feelings about this, should be fine adding support for mp4

[2021-08-09 23:35] sbauch commented on #292
thanks for opening this! thought i would add a little more context.

NFT.storage works perfectly for me when doing more 1 of 1 NFTs. I've got a repo here that uses the project in a dApp that allows an artist to mint a piece against their own contract and into their own wallet - https://github.com/0xEssential/smartist-contract

But when I started thinking about how to use this with an NFT project t

[2021-08-09 23:47] dave4506 opened #293 "Flaky upload issues"
We have been observing issues with storing file blobs with NFT.storage and can't pin point exactly why. It happens sporadically and throw an error in regards to the file blob (which are json files) not being formatted correctly.

Any resolution to this?

[2021-08-10 04:10] nhlong2 commented on #281
There is a way to get around the limit. You can not upload files bigger than 100MB, but you can pin files bigger than 100MB through its pinning service.
`ipfs pin remote service add nft-storage https://api.nft.storage YOUR_API_KEY`
[Docs](https://ipfs.github.io/pinning-services-api-spec/)

[2021-08-10 17:43] dchoi27 opened #295 "Move nft.storage repo from IPFS Shipyard GH org to nft.storage org"
We tried before launch to move this repo from the `ipfs-shipyard` org to the `nft.storage` org (https://github.com/nftstorage), but it was painful. We should do this at some point, though.

[2021-08-10 18:18] jnthnvctr opened #296 "Spec for permissioned access to content"
I think we've heard this request in a number of forms from folks who want to have NFTs or content that's only viewable by the current holder of NFTs. This problem is generally useful for the IPFS community (not even in the NFT context) - but naturally fits a number of emerging use cases on the NFT side:
- Unlockable content
- Higher res images that are permissioned to just the NFT holder
- Giving

[2021-08-10 18:50] adriadrop opened #297 "Error: reason: "", details: "": 500 Internal Server Error - Upload doesnt work"
Been using NFT.STORAGE for weeks now as a place to pin my IPFS files but from few days ago when I try to pin files all I get is

Error: reason: "", details: "": 500 Internal Server Error

`ipfs pin remote add  --name=jsons --service=nft QmNtPwsigduomZmhQoyQKgLbL7m2E3m1DnNPyHWavxv5Up`

using pinata the same way and all works well. Something seems wrong with system

[2021-08-10 20:07] markcarey opened #298 "Uploads not showing in "Files" UI"
When I click on "Files" in the top menu, I get a screen with a red banner, with a message "An unexpected error has occurred." in the main body of the page. The console has the following error: `Unhandled Promise Rejection: ReferenceError: Can't find variable: BigInt`.

When I then refresh the page, the header banner turns yellow/mustard and the main body has only the message "Files - NFT Storage."

[2021-08-10 20:12] markcarey commented on #298
Just tried this in Chrome, and the files are all showing. So this issue seems specific to Safari.

[2021-08-10 20:16] dchoi27 commented on #298
cc @hugomrdias FYI

[2021-08-10 20:24] hugomrdias commented on #298
Hey @markcarey thank you for your feedback.

That version of safari doesnt support `BigInt`, only Safari 14+ has support for it. Unfortunately the only option right now is to upgrade safari or use another browser. 😞

Our current roadmap doesn’t include support for older browsers, if that changes i will let you know for now im gonna close this issue.

Thank you.

[2021-08-10 20:24] #298 closed

[2021-08-10 20:39] markcarey commented on #298
I see Safari 14 is a pending upgrade on my machine. I recently upgraded my aging mid-2012 MBP to Catalina, so 14 wasn't an option until now. ;) I will do the upgrade and try it....

[2021-08-10 21:29] dchoi27 commented on #293
Hi there - can you give some more detail? What do you mean by sporadic - do you always get errors from trying to store a given file, or do you experience different results each time you run? Any patterns to the files that you encounter this with?

[2021-08-10 21:34] dchoi27 commented on #279
Hey there! You're getting this response regardless of what data you upload?

[2021-08-11 01:40] markcarey opened #299 "Pin Failed and Deals Queued hours later"
Data uploaded to nft.storage is showing `failed` under pin and `queued` under deals, many hours after adding. Viewing the content via a gateway does seem to work but is often quite slow.

[code]

[2021-08-11 02:17] mattlockyer commented on #279
I figured it out. I was seeing the top level object json not the underlying image object.

TBH it's pretty weird to have such an opinionated API like this. e.g. describing tokens.

[2021-08-11 02:17] #279 closed

[2021-08-11 09:51] hugomrdias commented on #289
this was fixed in v3.0.2

thank you for the issue.

[2021-08-11 09:51] #289 closed

[2021-08-11 11:55] MikeHibbert opened #301 "Feature Request: Upload progress callback"
On large files it would be very useful to be able to provide a progress callback to the 'store' method so that it could send a percentage report back to an app which could provide user feedback when a file is taking a while to upload.

[2021-08-11 22:29] max-andrew opened #305 "Webpack import error using NFT.Storage"
After running the `build` command in my Next.js environment, I get the webpack error:

    Failed to compile.

    ./node_modules/@ipld/car/esm/lib/decoder.js
    Attempted import error: 'decode' is not exported from '@ipld/dag-cbor' (imported as 'decodeDagCbor').

The code runs successfully in development. Webpack and Node are up to date.

[2021-08-12 00:00] dchoi27 commented on #305
@hugomrdias any thoughts?

[2021-08-12 14:27] LisaFosdick opened #306 "Partnering with NFTS4Charity.io"
Good afternoon, we have been looking for a partner to provide NFT storage for donors who don't want to own Crypto or have a Wallet.
Can we set up a call?

Lisa Fosdick
email firstimpp@gmail.com

[2021-08-12 15:12] dchoi27 commented on #305
@vasco-santos any thoughts?

[2021-08-12 22:38] frehml opened #307 "How to store a PNG in a directory"
`const cid = await client.storeDirectory([
  [new File([fs.readFileSync('./output/images/1.png')], "1.png")]
]);
console.log(cid);`

results in: Error: invalid file

[2021-08-13 07:23] vasco-santos commented on #305
Hey @max-andrew

What webpack version are you using? Webpack@4 does not support map exports, and this is probably the issue. But running in dev makes it stranger. If you have a replication repo I could have a look would be great

Also, if you do `npm ls @ipld/car` and `npm ls @ipld/dag-cbor`, what are the versions you have?

[2021-08-13 11:07] frehml commented on #307
const cid = await client.storeDirectory([ [new File([await fs.promises.readFile('./output/images/1.png')], "1.png")] ]); console.log(cid);

Did the trick

[2021-08-13 11:07] #307 closed

[2021-08-13 11:26] frehml opened #308 "Error: 524: Origin Time-out when storing multiple files"
I get Error: 524: Origin Time-out when trying to store over 5 files, there is no issue when storing less. Code looks like this:

[code]

[2021-08-13 11:59] david-dacruz opened #309 "How to use nft.storage as a remote pinning service ?"
Hello I am trying to figure out use nft.storage as a remote pinning service can someone share an example or can you provide more documentation please ? Thanks ahead!

[2021-08-13 14:10] max-andrew commented on #305
I'm running the latest version of webpack 5. I can work on getting a strictly replication repo but before then you could check out my HackFS project at github.com/max-andrew/rightoken to see if anything jumps out.

@ipld/car@3.1.16
@ipld/dag-cbor@6.0.9

[2021-08-13 15:20] frehml commented on #308
Found a workaround by using multiple API_key, one per each store call

[2021-08-13 15:20] #308 closed

[2021-08-13 15:41] frehml opened #310 "SyntaxError: Unexpected token < in JSON at position 0"
Getting a syntax error when uploading a large amount of files (50 or so), works when I upload a small amount of files (5 or so). Uploading is done via storeDirectory
[code]

[2021-08-13 18:53] adriadrop commented on #297
I am just using CLI so i dont have a way to choose, just errors out.

[2021-08-13 19:26] alanshaw commented on #310
You might be coming up against the 100MB limit for single uploads. Eventually this will be built in to the client but for now you'll have to use the `storeCar` method and the `ipfs-car` module to pack your files.

There's an example here https://github.com/ipfs-shipyard/nft.storage/blob/main/packages/client/examples/node.js/storeCar.js

[2021-08-13 20:07] frehml commented on #310
Thanks for your reply, does the remote pinning service support 32GB uploads as mentioned on the website?

[2021-08-13 21:52] alanshaw commented on #310
Yes, and also not sure if I was clear that using `storeCar` allows you to upload NFTs bigger than 100MB also.

[2021-08-13 21:56] frehml commented on #310
I fit the code to my needs but getting an Origin Time-out now

[code]

Each image is definitely smaller than 100mb, is it because I'm calling the API too fast in succession? If this is not viable I will try and implement CAR (I don't really know how it works). Thanks for your help!

[2021-08-13 22:06] frehml commented on #309
This is a good guide to get started: https://www.youtube.com/watch?v=ZMv_-tC-uEc

[2021-08-14 06:29] Xx-thoth-xX commented on #290
Also have been seeing this error as well, is that just due to server overload? It happens maybe 1  out of 20 uploads for me.

[2021-08-14 06:32] Xx-thoth-xX commented on #290
524 is cloudflare specific:

Error 524: a timeout occurred
Error 524 indicates that Cloudflare successfully connected to the origin web server, but the origin did not provide an HTTP response before the default 100 second connection timed out.

Enterprise customers can increase the 524 timeout up to 600 seconds.
Resolution Contact your hosting provider to exclude the following common causes at you

[2021-08-14 09:56] alanshaw commented on #290
Heya, what file size are you uploading and which client method are you calling?

[2021-08-14 10:31] ZhangPeibin commented on #290
@alanshaw the file size : 82472056 and I was use http request

[2021-08-14 14:56] frehml commented on #310
I reactored the code to work with `storeCar`, yet I'm still getting Error 524 Origin Time-out, same thing happening here a small amount of files works but a bigger amount doesn't (yet everything is under 100mb). Here is the code:

[code]

PS: using 1 client has the same effect

[2021-08-14 18:55] luffkaa opened #311 "Error: 524: Origin Time-out at Function.storeDirectory"
Hi!
Try to store folder with pack of small JSONs and getting this error:
[code]

But, sometimes upload working fine (after few attempts).

I would be very grateful for any advice on how to solve this problem.

My function is:
[code]

[2021-08-15 00:56] noam-alchemy opened #312 "CLI Upload Hangs Forever"
Trying to follow the guide the home page. Created an account and API key, and the following command hangs forever:

` curl -X POST --data-binary test.jpg -H 'Authorization: Bearer <key>' https://api.nft.storage/upload`

[2021-08-15 20:25] alanshaw commented on #310
@frehml please could you have another try? 🙏 We think the issue is now resolved.

[2021-08-15 20:25] alanshaw commented on #311
@luffkaa please could you have another try? 🙏 We think the issue is now resolved.

[2021-08-16 05:09] #237 closed

[2021-08-16 05:13] dchoi27 commented on #87
@hugomrdias was this resolved or is this still being worked on?

[2021-08-16 05:14] dchoi27 commented on #264
Closing in favor of #87

[2021-08-16 05:14] #264 closed

[2021-08-16 05:15] #268 closed

[2021-08-16 05:15] dchoi27 commented on #268
Yes, but only NFT data (images, metadata, assets that are found in an NFT on a chain). If the service gets discontinued we'll let you know and you can pin yourself!

[2021-08-16 05:16] #281 closed

[2021-08-16 05:18] dchoi27 commented on #291
Would there be any downsides?

[2021-08-16 05:23] #309 closed

[2021-08-16 05:25] dchoi27 commented on #312
Can you try again and let us know if this has been resolved?

[2021-08-16 05:25] dchoi27 commented on #290
Hey, could you try again and let us know whether this was resolved?

[2021-08-16 05:33] dchoi27 commented on #295
Duplicate issue #139

[2021-08-16 05:33] #295 closed

[2021-08-16 05:53] ZhangPeibin commented on #290
I will try it and once I find the error , I will send it to you

On Mon, Aug 16, 2021 at 1:25 PM David Choi ***@***.***> wrote:

[2021-08-16 13:24] jnthnvctr commented on #306
Just dropped you a line!

[2021-08-16 13:24] #306 closed

[2021-08-16 15:15] hugomrdias commented on #87
@talentlessguy can you provide more info about your error? i can't reproduce

[2021-08-16 16:45] Gozala opened #316 "Analyze ERC-721 CRON Job fails when sending update to fauna with 500"
We observe generic `[Error]: An internal server error occurred. Please contact Fauna support`. I've tried reducing batch size from 100 to 20 to reduce a runtime, however I still observe the problem https://github.com/ipfs-shipyard/nft.storage/runs/3222929554?check_suite_focus=true

[2021-08-16 18:18] luffkaa commented on #311
Seems like it work good now. Thank you!

[2021-08-16 18:35] Gozala opened #317 "Followup on tokens that failed to archive"
There are various reasons why some tokens that failed to be archived, here are the few I've seen:

- Content from the URI could not be fetched
- Request to an ipfs-cluster or a resource on the web took too long and we aborted
- metadata.json had some fields missing and we deemed it invalid.
- Malformed ipfs://ipfs/Qm...Hash URLs were used (This was addressed and such urls are handled fine now, but

[2021-08-16 21:14] Gozala commented on #316
Here are couple of excerpts from discussion with fauna folks

Specifically proposed solution to address this problem is to replace index on `status` field which will always have one of the [an enum values](https://github.com/ipfs-shipyard/nft.storage/blob/dd5bacac8207c715b097e7b1bc0555742c6b8488/packages/database/fauna/resources/schema.graphql#L87-L117) with set of collections each corresponding t

[2021-08-16 22:14] Gozala opened #318 "Counting total number of tokens and progress made"
Everyone is interested in number of NFTs we've indexed and how many out of those we have archived successfully, how many we have failed etc... Unfortunately those seemingly simple questions are difficult to answer because fauna provides no optimized way for counting number of docs in a collection or index, leaving us with two options:

1. [Update counts during transactions](https://fauna.com/blog/

[2021-08-17 15:26] #183 closed

[2021-08-17 15:26] dchoi27 commented on #183
Closing in favor of #181

[2021-08-17 15:30] dchoi27 commented on #259
We're not sending multiaddrs anymore! Closing

[2021-08-17 15:30] #259 closed

[2021-08-17 15:35] #275 closed

[2021-08-17 15:36] dchoi27 commented on #275
^ agreed this is the best way. Let us know if any questions!

[2021-08-17 15:40] dchoi27 commented on #293
Let us know if you are still facing issues!

[2021-08-17 15:40] #293 closed

[2021-08-17 16:02] dchoi27 opened #319 "Guardrails for using Pinning Service API"
There needs to be guardrails around using the Pinning Service API. This epic will track what we want to implement / discussion for the holistic solution.

- [x] https://github.com/nftstorage/nft.storage/issues/148

[2021-08-17 16:13] dchoi27 commented on #310
Please reopen if this is still an issue!

[2021-08-17 16:13] #310 closed

[2021-08-17 17:24] dchoi27 commented on #188
Hey there - this would be something difficult to enforce at the nft.storage level. For your product, it's probably something better enforced at the token standard level (e.g. modifying ERC-721), or potentially if enough people organically add specific custom fields to their own NFT's metadata. But unless the former case happens, it's not something in-scope for nft.storage.

Thanks!

[2021-08-17 17:24] #188 closed

[2021-08-17 17:30] #290 closed

[2021-08-17 17:30] dchoi27 commented on #312
Please reopen if not resolved!

[2021-08-17 17:30] #312 closed

[2021-08-17 17:30] #311 closed

[2021-08-17 17:30] dchoi27 commented on #297
Please try again and reopen if not resolved!

[2021-08-17 17:30] #297 closed

[2021-08-17 17:31] dchoi27 commented on #299
Hey there, is this still the case?

[2021-08-17 17:35] dchoi27 opened #320 "Get niftysave data into Filecoin"
Issue to track getting Niftysave data onto Filecoin

[2021-08-17 17:42] markcarey commented on #299
Yes, I am seeing `queued` or `failed` for CIDs that are days old. The one difference that I have seen is that some of them now have active deals. Not sure if it usually takes hours/days for a deal to happen....(?)

[code]

[2021-08-17 17:46] dchoi27 commented on #299
Yeah it takes some time for it to get into a Filecoin deal (time for aggregation with other data + sealing time). Will take a look at the statuses, thanks!

[2021-08-18 08:26] skyttedk opened #321 "Exampels Directory url not working"
The Url to the examples directory is not valid.

https://ipfs-shipyard.github.io/nft.storage/client/examples

[2021-08-18 18:44] #316 closed

[2021-08-19 00:13] adhiesg opened #324 "toGatewayURL() returning Unhandled Rejection (TypeError): Failed to construct 'URL': Invalid URL"
hello. i'm trying to convert to ipfs:// link I got after storing data with toGatewayURL. I'm passing metadata.url as the parameter but it returns error. I'm currently learning and the documentation seems a little bit hard for me since there is no real example for the usage. this is the syntax I used
![image](https://user-images.githubusercontent.com/28957135/129987894-e14e0688-1ea5-4141-be65-bccbe

[2021-08-19 07:48] MikeHibbert opened #325 "no such link found"
I'm  uploading images using this code

[code]

But when I go to view the link generated in the metadata I get no such link found

Here's an example link
`https://dweb.link/ipfs/bafyreibawc7wzbt3ypuzei4jwwvnzkrxuntzr6rr72c57lkzsayvihiroy/press%20F.png`

This uploads without throwing any errors and appears in my 'Files' section at https://nft.storage/files/ but the link above errors and so  does the

[2021-08-19 13:40] alanshaw commented on #321
Where did you find this link @skyttedk? Any chance you can send a PR to fix?

[2021-08-19 18:26] Moikapy commented on #220
Is there an ETA on this feature?

[2021-08-19 20:50] david-dacruz commented on #325
same

[2021-08-19 22:21] jnthnvctr opened #326 "Niftysweep - ensure we're grabbing all CID shaped things (and trying both DHT and HTTP urls)"
Here's an example metadata file that has a number of CIDs in addition to what the spec defines.

https://ipfs.io/ipfs/Qmc6GRQjDLbhCw1YFh8ZS5oS2631jRHFQTomefKsoje2yN

We should ensure that _all_ those CIDs are being grabbed - and should attempt to pull those CIDs both from the DHT (if we can), or from the embedded gateway url (in the event the CID isn't being publicly advertised over the DHT).

[2021-08-19 22:29] aschmahmann commented on #326
That's tricky unless the gateway supports exporting CAR files (e.g. via `/api/v0/dag/export`) as you need to be able to match the CID which may not always happen if you just download the file and then do `ipfs add` on it.

If we know/can discover the peerIDs backing the gateway nodes and if those peerIDs are dialable we can also just connect to them (e.g. peering or `ipfs swarm connect`) before tr

[2021-08-20 15:18] dchoi27 opened #328 "Migrate niftysave to Postgres"
Task list

Roughly steps to get there:

- #378
- #381
- #384
- #402
- #520
- #478
- #477
- #497
- #521
- #504
- #532

[2021-08-20 15:19] dchoi27 opened #329 "Postgres migration"

[2021-08-20 15:25] dchoi27 opened #330 "Optimize new Web3.Storage gateway for nft.storage retrieval for better performance"
When we're done with this https://github.com/web3-storage/web3.storage/issues/138, we should make sure NFT.Storage CIDs are pinned to this gateway and recommend using this gateway for users.

UPDATE: Users are experiencing intermittent 429 requests using the ipfs.io gateway. This issue probably doesn't solve these errors, but going to track in here for now in case there's ways we can tweak our fut

[2021-08-20 17:01] dchoi27 opened #331 "Migrate NFT.Storage to Postgres"
The base PR for this migration is https://github.com/ipfs-shipyard/nft.storage/pull/263
## Tasks

- [x] SQL Schema
- [x] Endpoints using postgres client
- [x] normalize cidv1 https://github.com/web3-storage/web3-schema/pull/4
- [x] Add docs and scripts for local database setup to run tests https://github.com/ipfs-shipyard/nft.storage/pull/425
- [x] Add deals schema and logic https://github.com/ipf

[2021-08-21 11:56] yansenzu opened #332 "how can i use the nft strorage's chunk feature?"
i have an problem that i can't upload large file, so i read from nft strorage website that it can support chunk file, where i can found the docs for that?
thank you

[2021-08-21 18:51] dantrevino opened #333 "documentation site is down"
Linked from the nft.storage home page.

https://ipfs-shipyard.github.io/nft.storage/client/classes/lib.nftstorage.html

![image](https://user-images.githubusercontent.com/7738/130332068-d2e59605-89b9-49f7-8a6f-4a025cca483b.png)

[2021-08-21 21:55] dchoi27 commented on #333
Is that what a link from the homepage took you to? The link at the bottom here
![image.png](https://images.zenhubusercontent.com/5fa04bd64afb77249c77235b/982110db-118b-4264-a042-04d374e9fcba)
took me to this URL (which is different and works for me): https://ipfs-shipyard.github.io/nft.storage/client/

[2021-08-22 06:04] dantrevino commented on #333
Yes that's the link. It's working for me now as well.

[2021-08-22 06:04] #333 closed

[2021-08-23 18:24] dchoi27 commented on #332
How large is your file? There's a 32 GB limit. The chunking refers to getting files larger than 100 MB onto NFT.Storage.

[2021-08-23 19:47] Gozala commented on #291
I can't seem to find any code that checks mime type and rejects based on it. Do we have any reason to assume it does not work ?

[2021-08-23 19:47] Gozala commented on #291
I'll create a test to exercise this

[2021-08-23 19:48] Gozala commented on #291
Ah never mind found the check

[2021-08-24 14:11] izulwahidin opened #335 "How do i upload site?"
i want to host my static site to nft.storage

[2021-08-24 15:29] dchoi27 commented on #335
Hey there - NFT.Storage is for NFT data. We recommend checking out Web3.Storage (https://web3.storage/) for more general data storage.

[2021-08-24 15:29] #335 closed

[2021-08-24 18:34] dchoi27 commented on #324
Hey, I think you're passing in an object into `toGatewayURL` instead of a string https://ipfs-shipyard.github.io/nft.storage/client/modules.html#toGatewayURL Think just taking out the brackets in the parameters should do the trick?

[2021-08-25 03:16] dchoi27 commented on #332
#220 would also implement client-side chunking automagically in the library if you want to track that!

[2021-08-26 10:11] harshit-001 opened #337 "Cant we upload just a custom file and not image"
I am using nft for storing pdf file ... but the doc says that i will have to upload the image with it too

[2021-08-26 13:51] 0xarvind opened #338 "[QUESTION] Questions related to Filecoin"
Hi,
In this [video](https://www.youtube.com/watch?v=aNaj9xNF8OU), it is mentioned that files will be stored in Filecoin for permanence and the storage miners will be incentivized for storing our files.

1. Can anyone explain how the incentive part works?
2. Who will pay the incentives for storage miners?
3. Is there any limit on API requests?

[2021-08-26 18:01] dchoi27 opened #339 "Add post-mortems to NFT.Storage status availability page"
David to clean up post-mortems, work with @alanshaw to get them on.

https://status.nft.storage/

[2021-08-26 20:04] Gozala opened #340 "Create an install script that asks questions and configures all the things"
Our current bootstrap process is too complex, lot of steps & lot of copy pasting and lot that can go wrong.

Let's create script that wraps around wrangler and other tools so we can simplify dev setup.

[2021-08-26 21:13] Gozala opened #341 "Entries listed for uploads made by `client.store` API appear broken"
I noticed this as I was looking into #325, if I upload with `client.store` API I'll see following in the file listing

<img width="1195" alt="image" src="https://user-images.githubusercontent.com/21236/131036501-260cde0a-a1bc-423f-b391-47356df71c7d.png">

However if you navigate by clicking on the URL which appears to be
https://bafyreig3472gwjlr5oo2qnajkksj53dd33av5zamjjm476uv4zanwr33fu.ipfs.dweb

[2021-08-26 23:23] Gozala opened #342 "test client against code running on backend"
Right now client runs test against node server which does not share the code with actual backend. We should figure out a way to run same code we run in backend in tests so that we can catch regressions that changes in the backend may introduce.

[2021-08-27 05:22] #338 closed, assigned to nobody

[2021-08-27 18:45] try1975 opened #348 "not show api docs"
https://nft.storage/api-docs/ - show error

[2021-08-27 19:42] dantrevino opened #349 "ipnft documentation"
Is there documentation on `ipnft` somewhere?  STFW only useful link is  a Molecule biopharma medium article.  Also is there an nft.storage discord somewhere?

[2021-08-30 10:32] #348 closed

[2021-08-30 19:20] angus-c commented on #325
Apologies for this. Fixed in just-safe-set@2.2.3

[2021-08-30 20:13] dchoi27 commented on #332
Closing for now, let us know if you'd like to pick the discussion back up!

[2021-08-30 20:13] #332 closed

[2021-08-30 20:13] dchoi27 commented on #321
Closing for now, please let us know if you can point us where you saw the broken link!

[2021-08-30 20:13] #321 closed

[2021-08-30 20:22] dchoi27 commented on #349
Hey, you can join the nft.storage Discord channel here: https://discord.gg/xbrHbnnJ Also can join via Filecoin Slack (#nft-storage channel) if you have an account there

Where did you hear about `ipnft`? It seems like there's two NFT-related things it refers to: InterPlanetary NFT Extensions (which @Gozala has put down some thoughts for [here](https://github.com/Gozala/ipnft)), and the Molecule Me

[2021-08-30 21:53] dchoi27 commented on #87
Closing for now, let us know if you're still experiencing this issue!

[2021-08-30 21:53] #87 closed

[2021-08-30 21:54] #282 closed

[2021-08-31 03:05] dantrevino commented on #349
I heard about `ipnft` from the source code.  There are references to it everywhere.  For instance:  https://github.com/ipfs-shipyard/nft.storage/blob/6f6fc249ac4bcfe6905fceed8b767774f4dc38ea/packages/api/test/nfts-store.spec.js#L74.

Thank you for the pointer to @Gozala's notes and the discord.

[2021-08-31 03:05] #349 closed

[2021-08-31 09:58] alanshaw opened #355 "Port fix for rejection of empty CAR files"
https://github.com/web3-storage/web3.storage/pull/344

[2021-08-31 11:49] alanshaw opened #356 "Add end-to-end tests for uploading content and run them automatically and often"
Add end-to-end tests for:

- [ ] uploading via http
- [ ] uploading via client
- [ ] uploading via website (P3)
- [ ] read uploaded data from nftstorage.link

Run them every n minutes, and raise an alert on failure. For bonus points, time how long each run takes and push it to prometheus so we an chart upload perf over time.

[2021-08-31 15:27] dchoi27 commented on #324
Let me know if that wasn't the issue! Closing for now

[2021-08-31 15:27] #324 closed

[2021-08-31 19:43] luizoamorim opened #357 "Attempted import error: 'decode' is not exported from '@ipld/dag-cbor'"
I'm using nft.storage in my project. This library have ipld dependence.

I've got this error when I try generate a project build:

./node_modules/@ipld/car/esm/lib/decoder.js
Attempted import error: 'decode' is not exported from '@ipld/dag-cbor' (imported as 'decodeDagCbor').

Can somebody help me?

[2021-08-31 23:54] DigitalMarketing4Leads opened #359 "Opensea struggling to read .json file extension"
Heya, I am struggling to get OpenSea to reliably read the metadata from the .json file when it has the .json file extension. Is there a way to remove the .json from the file?

E.g. /metadata instead of /metadata.json?

[2021-09-01 15:16] dchoi27 opened #360 "Add Countly to NFT.Storage website"

[2021-09-01 15:18] dchoi27 opened #361 "Add hamburger to NFT.Storage website"
@alanshaw - is this just for mobile?

[2021-09-01 15:22] dchoi27 opened #362 "Clean up styles for NFT.Storage API docs"
@alanshaw for these docs? https://ipfs-shipyard.github.io/nft.storage/client/

[2021-09-01 15:23] dchoi27 opened #363 "Fix diagram on homepage"
From @alanshaw: Metadata.json file is not ERC-721 format

[2021-09-01 15:23] dchoi27 opened #364 "Detect ipnft upload (type=nft) and link to metadata.json not CID"
@alanshaw can add more detail

[2021-09-01 15:23] dchoi27 opened #365 "Remove Beta tag from the site"

[2021-09-01 15:30] dchoi27 opened #366 "Remove remote pinning service docs from the site"
@alanshaw where are these?

[2021-09-01 15:32] alanshaw commented on #361
Yes, just for mobile. Looks like this currently:

![Screen Shot 2021-09-01 at 15 35 42](https://user-images.githubusercontent.com/152863/131700226-53240ed6-2b4f-4a77-8a46-91ad87dde01d.png)

![Screen Shot 2021-09-01 at 15 35 19](https://user-images.githubusercontent.com/152863/131700273-412723a3-2367-4b38-82ad-ab171ebdf80e.png)

[2021-09-01 15:34] alanshaw commented on #362
No these ones: https://nft.storage/api-docs/

This is low priority but it would be good to stort things like text sizes, fonts and colours to be more in keeping with the rest of the site.

[2021-09-01 15:35] alanshaw commented on #363
<img width="365" alt="Screenshot 2021-09-01 at 15 38 21" src="https://user-images.githubusercontent.com/152863/131700580-bfab5517-9cfa-42f6-b831-3d44f7ee08df.png">

Basically the "properties" object in the image above should be what is shown. Not the rest!

[2021-09-01 15:38] alanshaw commented on #364
This will resolve this issue: https://github.com/ipfs-shipyard/nft.storage/issues/341

Uploads made using the `/store` API will have `type: nft`. We should detect this when listing the files and instead of linking to the root CID, we should link to the `metadata.json` file.

i.e. instead of:

[code]

Link to:

[code]

[2021-09-01 15:40] alanshaw commented on #366
We've seen a lot of abuse so we're going to stop advertising their presence (although not remove them).

https://nft.storage/#configure-as-a-remote-pinning-service

[2021-09-01 15:41] alanshaw commented on #359
Do you have some more context on this? In what way is it struggling? Are you getting an error?

[2021-09-01 15:43] alanshaw commented on #360
@dchoi27 can you help define what would be useful to track on the nft.storage website? 🙏

For example, the same PR on web3.storage: https://github.com/web3-storage/web3.storage/pull/126

[2021-09-01 16:22] dchoi27 commented on #364
Ah this is smart!!!

[2021-09-01 16:24] dchoi27 commented on #366
Cool. What do you mean by stop advertising but not remove them? We want to remove the right box but keep the ability to use it as a pinning service?

[2021-09-01 16:30] DigitalMarketing4Leads commented on #359
Hi, thanks for the response. I want to say upfront that I am very new to this and have been learning a lot in the last week, so it is possible that my observations are incorrect.

I have been testing deploying ERC721 tokens through a smart contract and then viewing them on opensea. Before I found nft.storage, I was using the baseUri approach and putting the metadata in an ipfs folder and then manu

[2021-09-01 17:19] anxiaoxiong opened #367 "can not login into the NFT.Storage"
I input my email,and recevice the login-email. but,when i clicked the login button. i am redirected to the homepage,but still let me login.
my email is happybearing@liev.cn
i tried more times. return the same result

[2021-09-01 18:09] talentlessguy commented on #87
I'm still experiencing this

[2021-09-01 18:10] talentlessguy commented on #87
@hugomrdias I can't login on the website, I don't even try to upload anything

it just throws me back to the main page

and console yields this

![image](https://user-images.githubusercontent.com/35937217/131722042-97d60303-dac5-43bc-b4a0-d8d9e22a6bae.png)

[2021-09-01 18:43] dchoi27 opened #368 "Add "First" pagination buttons to the Files page"
We should have "First" and "Last" pagination buttons on the Files page since some users have thousands of files stored on their account.

## Scoping adjustment
- scoping this to first page only, and ticketing last page separately due to complexity.

[2021-09-01 18:57] dchoi27 commented on #360
@zebateira basically the same as in web3.storage:
-  Track page views
-  Track 404s
-  Track header and footer links
-  Track other links to docs and other pages
-  Track CTA clicks and other actions
-  Login / Logout
-  Files (Upload / Delete)
-  Tokens (Create / Copy / Delete)

[2021-09-01 19:29] dchoi27 commented on #357
Hey, take a look at #215 and see if anything there helps. Otherwise, we need more detail to help reproduce (code, etc.). Thanks!

[2021-09-01 19:39] dchoi27 commented on #359
Hey, so this is likely something on the OpenSea side. If they're reading some elements of your metadata, then they're reading your metadata. I think the issue is probably on how they render the image - I know they pull the image from the ipfs.io HTTP gateway, which has been having some issues with being under heavy loads lately. I would confirm with them that this is the case, but a separate team

[2021-09-01 19:55] DigitalMarketing4Leads commented on #359
I have been trialing hosting images on ipfs (desktop app), nft.storage and pinata and the way that the URL is structured on pinata seems to get read much better. Whenever I have created metadata to this test image, it has always worked on this URI:

https://gateway.pinata.cloud/ipfs/QmP9xhaG2a2voc6ye8NWPrGHaXKsvDgy8ELpPZKg4nv5Ft

I'm really keen to generate the metadata and images during the minti

[2021-09-02 08:25] alanshaw commented on #368
We could add a "first" button easily but adding "last" is blocked on https://github.com/ipfs-shipyard/nft.storage/issues/331

[2021-09-02 14:50] dchoi27 commented on #337
Hey - let me know if the comment before doesn't help, but closing for now.

[2021-09-02 14:50] #337 closed

[2021-09-02 15:39] JeffLowe commented on #328
Current status:  finishing up migration of remaining entities.

[2021-09-02 16:16] Gozala opened #370 "Find out if we can query jsonb from graphql"
This is worth figuring out because:

1. Hasura generates SQL from GraphQL and might have some limitations there.
2. Using table fields allows enforcing data invariants, which otherwise may not work out.

[2021-09-02 16:18] Gozala commented on #370
@alanshaw made a good point in other communication channel

[2021-09-02 16:21] Gozala commented on #370
I still think it is worth looking into because:

1. We may not want to query that data with GraphQL today, but requirements may change in the future and changing this decision would be a lot more costly.
2. We may want to use jsonb in more places and knowing what the implications are would be useful.

[2021-09-02 16:24] Gozala opened #371 "Figure out if we need to have pin locations"
This came up during the db migrations call, because it was left out in the @hugomrdias's schema while still present in web3.storage schema. @hugomrdias also pointed out that maybe pin location should also include `multiaddrs`.

[2021-09-02 16:26] Gozala commented on #371
Quoting @alanshaw's comment from the [meeting notes](https://hackmd.io/ZM-sDUX-TTuowEM2Hp28tw?both#Action-Items)

[2021-09-02 16:27] Gozala commented on #371
@alanshaw, @hugomrdias I think @alanshaw makes a good point there, however I'll leave it up to you to either close it as resolved with a decision to leave things as is or keep it open for post-migration discussion.

[2021-09-02 16:29] Gozala opened #372 "Singularize table names"
As per meeting notes and followup [action items](https://hackmd.io/ZM-sDUX-TTuowEM2Hp28tw?both#Action-Items)

[2021-09-02 16:33] dchoi27 commented on #342
Related to #356, let's coordinate!

[2021-09-02 16:34] dchoi27 commented on #356
Coordinate with what's being done with #342

[2021-09-02 16:35] Gozala opened #373 "align content (and related) table schemas between nft.storage & niftysave"
As per meeting we should make sure that `content` table schema and all the related ones align across two databases.

[2021-09-02 16:36] Gozala commented on #373
@hugomrdias could you please post here a pointer to your schema when it's ready to be aligned against ?

[2021-09-02 16:38] Gozala opened #374 "Rename `accounts` table to `user`"

[2021-09-02 16:42] Gozala opened #375 "Rename `account_keys` -> `auth_key`"

[2021-09-02 16:49] Gozala opened #376 "Normalized `cid` field to V1 base32 encoded TEXT"
Consensus on cid representation is:

[2021-09-02 16:50] Gozala commented on #376
@alanshaw I'm not sure why use b32 encoding and TEXT field as opposed to binary representation that I thought was a consensus. Could you please clarify if that is indeed the decision here.

[2021-09-02 16:50] Gozala commented on #376
This affects #373

[2021-09-02 16:54] Gozala opened #377 "Define schema for nft.storage"

[2021-09-02 16:54] anxiaoxiong commented on #367
i had try Google Chrome and Firefox .  @hugomrdias

[2021-09-02 16:55] Gozala commented on #377
@hugomrdias  As per discussion yesterday it would help @the-simian if you could provide `.dbml` of the schema. Could you please post relevant link here please.

[2021-09-02 16:55] Gozala commented on #377
Related to #373

[2021-09-02 16:58] Gozala commented on #377
Also as per discussion yesterday, we've decided that it would be best not worry / deal with schema migrations / management system as that would reduce need for coordination between @hugomrdias and @the-simian.

We can work out the schema management system after migration is complete.

[2021-09-02 17:01] Gozala opened #378 "Define niftysave schema"
Idea here is to map existing schema defined at
https://github.com/ipfs-shipyard/nft.storage/blob/main/packages/database/fauna/resources/schema.graphql

Given that niftysave CRON jobs use GraphQL endpoints we should also consider how equivalent ones could be exposed  as well.

[2021-09-02 17:01] Gozala opened #379 "Setup schema management system"
We can make progress on #377 without having to deal with this. And this can be done as a part of #378 which will incorporate it.

[2021-09-02 17:02] Gozala commented on #379
After discussing this more with @the-simian we've decided it would be best to not deal with this in #378 either and just do it after data migration is complete.

[2021-09-02 17:04] ian6868 opened #380 "Too many requests error message"
I keep getting too many requests error every other time I try to access the url for my files. Also there is a lot of lag even for gif files. It takes a while for them to load and they need to buffer in the middle of playing. All files are between 4mb-6mb. Any help would be appreciated.

[2021-09-02 17:07] Gozala opened #381 "Import niftysave into a new db"
Once #378 is ready and deployed we'll need to import data from current DB. Which could be accomplished with a same strategy as migration from schema with 'status' fields  to schema with queues as implemented in the following script:

https://github.com/ipfs-shipyard/nft.storage/blob/98bf9c726b90001fe959f141b0f0e66f878b8a31/packages/database/src/migrations/2021-08-18-token-asset-queue.js#L43-L62

[2021-09-02 17:11] Gozala opened #382 "Demonstrate hasura schema migrations tool"
Hasura has it's [own migrations tool](https://hasura.io/docs/latest/graphql/core/migrations/index.html) as it needs to track metadata for the query endpoints. If we end up using hasura it would be important to use their tool as opposed to alternatives to keep metadata and db schema in sync.

[2021-09-02 17:12] Gozala commented on #379
We should make sure to do #382 before we make any decision here.

[2021-09-02 17:18] Gozala commented on #377
Related issues
- https://github.com/ipfs-shipyard/nft.storage/issues/371
- https://github.com/ipfs-shipyard/nft.storage/issues/372
- https://github.com/ipfs-shipyard/nft.storage/issues/376
- https://github.com/ipfs-shipyard/nft.storage/issues/373
- https://github.com/ipfs-shipyard/nft.storage/issues/374
- https://github.com/ipfs-shipyard/nft.storage/issues/375

[2021-09-02 17:26] JacobSloan opened #383 "Issues with "429 Error" and "Uncaught in Promise""
We have an NFT Marketplace on Kucoin Community Chain https://nftsrealm.com and we use NFT.Storage. We have been having reoccurring IPFS issues and would greatly appreciate your help as soon as possible. When loading the resources (in this case the NFT data) we keep seeing a 429 error and an Uncaught in Promise error.

<img width="960" alt="IPFS issues" src="https://user-images.githubusercontent.co

[2021-09-02 17:27] Gozala commented on #376
@the-simian note that we should do the same in #378

[2021-09-02 17:28] Gozala commented on #378
Related issues:

- #373
- #376

[2021-09-02 17:29] ian6868 commented on #380
![TooManyRequests](https://user-images.githubusercontent.com/25594749/131889844-62720d81-5a22-44b9-b5f3-39a8fc9646d9.JPG)

[2021-09-02 17:33] Gozala commented on #378
There is the draft PR to track the ongoing effort https://github.com/ipfs-shipyard/nft.storage/pull/358

[2021-09-02 17:35] Gozala commented on #328
Rough steps to get there

#378
#381

[2021-09-02 17:38] Gozala opened #384 "Rewire niftysave Cron jobs to new Postgres."
Once we have completed #381 we should rewire CRON jobs to a new database. This would also involve implementing corresponding GraphQL endpoints or alternative mechanisms to read / write data.

[2021-09-02 17:42] Gozala opened #385 "Migrate data from kv stores to Postgres"
Once #377 and #373 are complete we can migrate data from kv stores into a new database.

[2021-09-02 17:46] Gozala opened #386 "Rewire nft.storage API endpoints to use Postgres"
At the moment all read / writes happen in cloudfare kv store. Once #385 is complete we should rewire API endpoints to read / write to Postgres.

It may be necessary to have intermediary step where API endpoints read/write to both DBs to ensure smooth migrations.

[2021-09-02 17:47] Gozala commented on #331
Plan of action

- #377
- #385
- #386

[2021-09-02 19:25] jnthnvctr opened #387 "Enable users to specify which cid version (Qm vs bafy) for uploads"
The HEN team mentioned that for minting metadata they need to use a separate IPFS node to generate Qm hashes for their metadata.json because of constraints in the number of characters on the contract side.

It'd be useful potentially to enable users to specify on upload whether they'd like to generate Qm or bafy hashes.

[2021-09-02 21:18] #380 closed

[2021-09-02 22:00] Gozala commented on #387
I've put together [this observable](https://observablehq.com/@protocol/example-for-387) that attempts to clarify what is currently possible and what is not.

Here is the screenshot

![image](https://user-images.githubusercontent.com/21236/131919523-7a6045b6-5067-486b-879a-5f12fe24e9d8.png)

Here is the summary

- It is possible to upload `metadata.json` to nft.storage and encode returned CID strin

[2021-09-03 01:33] dchoi27 commented on #359
Hey, as mentioned I think this is mostly on the OpenSea side. The fact that the metadata works when accessed via a different HTTP gateway (Pinata's) makes me think it relates to some recent trouble with the ipfs.io gateway, which OpenSea uses to pull data from the IPFS network and cache it on their side (so if something went wrong on this first pull, the caching could have been messed up - this is

[2021-09-03 01:33] #359 closed

[2021-09-03 01:34] dchoi27 commented on #367
That's odd that it happens to you in multiple browsers. Does the Github authentication link work? Can you share browser logs?

[2021-09-03 01:39] dchoi27 commented on #383
Hey there - are you using the ipfs.io gateway to access your data? If so, it's been having some trouble with heavy load lately, but over the last day or so it's gotten better with additional nodes added. This isn't an NFT.Storage-specific issue per se (since it's related to retrieving data out of a specific gateway, but the data is still available via other gateways or IPFS nodes), but a lot of ou

[2021-09-03 01:42] dchoi27 opened #388 "Get metrics for niftysave progress"
Would be great to be able to query niftysave progress, including things like:
- Number of NFTs on a given chain so far
- How close we are to catching up to the head of the chain (relative to the number of blocks we've parsed through storing metadata, trying to fetch asset data, etc.)

No use in tackling this until after the Postgres migration, so marking this blocked on the migration. cc @Gozala

[2021-09-03 01:43] dchoi27 commented on #181
@hugomrdias should we close this or is it still useful?

[2021-09-03 01:44] dchoi27 opened #389 "Merge overlapping pieces of NFT.Storage and Web3.Storage"
There's a ton of similar infrastructure between NFT.Storage and Web3.Storage. Making changes + additions often results in double work. It might take some fitting given slight differences in the ways each handles things, but would be great to simplify (e.g. make NFT.Storage a user of the more general Web3.Storage).

[2021-09-03 01:51] dchoi27 opened #390 "Write CAR uploads to S3"
Sister issue to: https://github.com/web3-storage/web3.storage/issues/395 Some good discussion on that thread for exact implementation. Always good to have redundancy!

[2021-09-03 01:52] dchoi27 opened #391 "Continuous Pinata backup job on Heroku"
Issue for similar work to: https://github.com/web3-storage/web3.storage/pull/411

Basically trying to pin to Pinata continuously so we fall less behind given its rate limits.

[2021-09-03 01:53] dchoi27 commented on #389
E.g. #390 #391

[2021-09-03 05:24] dchoi27 commented on #329
Tracking in more general reliability epic #442

[2021-09-03 05:24] #329 closed

[2021-09-03 05:25] dchoi27 opened #392 "[Epic] Reliability / performance"
Additional detail can be found in internal Notion Allocation page

[2021-09-03 05:39] dchoi27 commented on #339
Added!

[2021-09-03 05:39] #339 closed

[2021-09-03 16:37] Gozala commented on #376
Code that implements this in web3 storage that we should replicate
https://github.com/web3-storage/web3-schema/pull/4#pullrequestreview-746294229

[2021-09-03 17:26] anon-br opened #393 "Getting Cross-Origin Request Blocked on API call"
I'm trying to upload a .png file through the `https://api.nft.storage/upload` endpoint from my local machine and getting CORS' s Cross-Origin Request Blocked error.

The exactly same call from https://nft.storage/api-docs/ works nicely.

[code]

![Screenshot 2021-09-03 14 38 40](https://user-images.githubusercontent.com/87387688/132046036-91804d2c-dd45-4896-9188-675c005943d2.png)

[2021-09-03 17:53] Gozala commented on #220
Not at the moment as we have few higher priority things in flight. However if you do want to use this feature there is already [`storeCar`](https://ipfs-shipyard.github.io/nft.storage/client/classes/NFTStorage.html#storeCar) that could be used today.

@Moikapy If you would like to help with an effort, there is actually a code that just needs to be ported from web3.storage library that would be a p

[2021-09-03 18:23] Moikapy commented on #220
@Gozala
Which function needs to be ported?

[2021-09-03 19:15] Gozala commented on #220
Linked `put` function takes iterable of `File` like objects, encodes it as a `car` bundle and hands it off to `putCar` (which I think is roughly equivalent of `storeCare` in nft.storage.

I think what would be required is change `storeBlob`, `storeDirectory` do equivalent of `putCar`. Which is encode input as a `car` bundle and hand it off to `storeCar`.

That said I have not looked if `storeCar`

[2021-09-04 09:21] iamcoderave commented on #359
Heya all, just wanted to give an update. It turns out that it was something external. The metadata has now all rendered perfectly. Thank you for your awesome support and advice.

[2021-09-06 14:50] rafaelramalho19 opened #396 "Documentation examples link goes to 404 page."
Checking the documentation examples goes to an invalid github page.

Steps to reproduce:
- Go to https://ipfs-shipyard.github.io/nft.storage/client/
- Click on the "full library reference docs" link
- Click on the "examples directory".
- It takes you to https://ipfs-shipyard.github.io/nft.storage/client/examples which doesn't contain anything.

Maybe we should have an index documentation file that

[2021-09-06 16:26] arpu commented on #366
any more infos on this? would love the pinning service for some new genrated NFTs

[2021-09-06 22:32] dchoi27 commented on #393
Hey there, just to get clarity, when you say "The exactly same call from https://nft.storage/api-docs/ works nicely," what are you referring to that's different than using `https://api.nft.storage/upload`?

[2021-09-07 08:16] alanshaw commented on #262
Sister issue in web3.storage: https://github.com/web3-storage/web3.storage/issues/314

[2021-09-07 09:53] #365 closed

[2021-09-07 09:53] #366 closed

[2021-09-07 16:00] dchoi27 commented on #299
Hey there, just following up on this! Difficulties in the pin status being updated are likely from the DB that we launched with. We're in the process of migrating to Postgres, which should fix these sorts of issues.

[2021-09-07 16:29] Gozala commented on #387
@jnthnvctr do we have any idea on:

1. Can we get someone from HEN team to comment here ? If 49char fits their limit we don't have an issue.
2. If this just HEN team issue or if this is more common ?
   This might help us with decision if we should recommend car based upload or provide some option to allow CIDv0.

Thanks

[2021-09-07 16:29] Gozala commented on #387
cc @alanshaw

[2021-09-07 16:34] Gozala opened #400 "Can't find variable BigInt on mobile Safari"
Reported on discord that nft.storage client isn't loading on safari

![image](https://user-images.githubusercontent.com/21236/132380136-9f881da1-48ad-498c-9875-b0414266056f.png)

[2021-09-07 16:35] Gozala commented on #400
@jnthnvctr suggested pulling in https://www.npmjs.com/package/bigint-polyfill polyfill

[2021-09-07 16:40] Gozala commented on #400
@crzypatchwork, I was trying to guess what the issue is and wI suspect it's one of the dependencies initializing constants here https://github.com/rvagg/cborg/blob/3d82c28e5a967f4fa8e9db09e8b35330f595a5ce/taglib.js

Could you please confirm if my guess is accurate, if so we can try to rewire things such that those dependencies are loaded lazily or at least make sure BigInt isn't referenced until i

[2021-09-07 16:40] Gozala commented on #400
This might affect #220

[2021-09-07 18:23] Gozala commented on #373
Here is the [schema diagram for nft.storage](https://dbdiagram.io/d/6137ad47825b5b0146f766cf) as per #395 and [schema diagram for niftysave](https://dbdiagram.io/d/613596c1825b5b0146f415eb) as per #394

[2021-09-07 19:52] Gozala opened #402 "Discussion: store parsed metadata as jsonb"
niftysave extracts `name`, `description`, `image` and fields that contain URLs from the `metadata.json` but nothing else. That was for for two reasons:

1. fauna did not really supported querying arbitrary JSON (from graphql)
2. We pin `metadata.json` to ipfs so it's possible to fetch data as needed.

However with postgres it may make sense to store full json as jsonb as it would be possible to qu

[2021-09-07 19:53] Gozala commented on #402
@alanshaw @mikeal do you think it makes sense to store those or should we carry on with current approach ?

CC @the-simian

[2021-09-08 02:14] dchoi27 opened #404 "Incomplete uploads in Web UI should give user an error"
Similar to on the Web3.Storage side, there is no error message displayed in the web app UI if an upload does not finish and an incomplete DAG is uploaded to Cluster. We should put in an error message.

[2021-09-08 06:57] pichiste commented on #321
It's the "examples directory" link at the bottom of this page: https://ipfs-shipyard.github.io/nft.storage/client/

[2021-09-08 08:08] pichiste commented on #269
Hi there,

Guessing this is the same issue but just reporting I'm also getting a 413 error when trying to upload a 125MB file via the API test panel:

![file-size-error](https://user-images.githubusercontent.com/111979/132470918-6f2a9964-747a-4711-abb8-c9e94916c5c4.png)

[2021-09-08 13:53] max-andrew commented on #305
Hey @vasco-santos -- I figured this out! I was using the Zora SDK `@zoralabs/zdk`, which I assume caused a naming collision.

[I replicated the error in a repo here.](https://github.com/max-andrew/nft-storage-test) Running `build` should fail with the error given above, but will succeed after uninstalling `@zoralabs/zdk`.

[2021-09-08 17:23] Gozala commented on #349
@dantrevino I'm afraid @dchoi27's pointer is incorrect, we can blame @mikeal for suggesting to use the same `ipnft` acronym for two different things 😳

@dantrevino I'll assign this issue to myself as an action item to spec what the IPNFT in the context of nft.storage, below is a TLDR:

1. NFTs often refer to multiple resources / assets not just one that is specified in `image` field of `metadata.j

[2021-09-08 23:34] dchoi27 commented on #321
Thanks! This PR should address #403

[2021-09-08 23:39] dchoi27 commented on #365
@jdiogopeixoto can you check if it removes BETA from the preview? https://github.com/ipfs-shipyard/nft.storage/pull/397#issuecomment-915306464

[2021-09-08 23:45] dchoi27 opened #405 "More obvious warnings on the website about deleted file behavior + public accessibility of data"
Could we add similar language to what we're adding around Public and Permanent data [in Web3.Storage](https://github.com/web3-storage/web3.storage/pull/391) to the Upload File page in NFT.Storage?

Let's also add two corresponding FAQs to the bottom of the homepage:
Q: Who can access the data I store on NFT.Storage?
A: All data uploaded to NFT.Storage is available to anyone who requests it using t

[2021-09-09 00:09] jdiogopeixoto commented on #365
It doesn't, I wasn't sure if that BETA was referring to something else so I didn't remove it. I will remove it now. Thank you!

[2021-09-09 15:27] alanshaw commented on #402
Yes we should!

[2021-09-09 15:36] alanshaw commented on #181
Superseded by https://github.com/ipfs-shipyard/nft.storage/issues/331

[2021-09-09 15:36] #181 closed

[2021-09-09 15:51] alanshaw commented on #389
+1 The two projects have significant overlap.

* Mitigate the problem of bugs and features implemented in nft.storage and **not** web3.storage and vice versa.
* Remove duplication of effort implementing features/bug fixes from the other project.
* Less code to maintain overall.
* Will enable us to focus more on innovating in NFT space instead of optimizing for storage/retrieval.
* Simplifies dagca

[2021-09-09 16:34] #396 closed

[2021-09-09 17:10] ribasushi commented on #389
All good, just want to flag:

Actually we will want to keep the separation, due to one being pinning-api exposing, and the other not ( there are a number of considerations how/when to retry, how to prioritize, etc )

Also: we currently do not have a way to do "multiple users from a single token" kind of thing, niftysave has the same problem as well. Having everything from nft.storage come from "on

[2021-09-09 18:04] dchoi27 commented on #357
Closing for now - feel free to reopen if needed.

[2021-09-09 18:04] #357 closed

[2021-09-09 18:04] dchoi27 commented on #367
Closing for now - feel free to reopen if needed.

[2021-09-09 18:04] #367 closed

[2021-09-09 18:05] dchoi27 commented on #383
Closing for now - feel free to reopen if needed.

[2021-09-09 18:05] #383 closed

[2021-09-09 18:22] dchoi27 commented on #115
@alanshaw can this be closed?

[2021-09-10 01:21] dchoi27 opened #408 "Instrument user survey on website"
We would love to better understand our users, especially their satisfaction with our service and why so we can make sure we're developing what we need to to satisfy our users. Would love to instrument a survey that shows up to users in an unintrusive way that asks:
- How disappointed would you be if you could no longer use NFT.Storage?
   - Not disappointed
   - Somewhat disappointed
   - Very dis

[2021-09-10 04:59] dchoi27 opened #409 "ETL Cloudflare log metrics"
We can learn a ton from the Cloudflare logs about user API behavior. We're storing these logs but at some point should ETL them to allow us to analyze.

[2021-09-10 15:17] avaer opened #411 "Examples link is broken"
https://ipfs-shipyard.github.io/nft.storage/client/ -> https://ipfs-shipyard.github.io/nft.storage/client/examples ->

![image](https://user-images.githubusercontent.com/6926057/132877065-839e3e48-0000-42af-adbc-035f3058ada6.png)

[2021-09-11 14:11] montanaflynn opened #413 "413 Request Entity Too Large"
Trying to upload a car file returns this error:

[code]

From the FAQ this shouldn't happen:

Are there any size restrictions for stored NFTs?
NFT.storage can store NFTs up to 32GB in size! (There was previously a 100MB limit due to Cloudflare workers but NFT.storage now supports chunked uploads, allowing files bigger than 100MB to be uploaded! 🎉)

[2021-09-11 22:47] bladeninja888 opened #414 "A step-by-step video series to introduce NFT.Storage for beginners"
Hey guys love what you build here and the truly decentralized storage with incentive to keep the files forever!

However for someone beginning to code and more art-oriented, I'd love to see a video series from you guys to guide how to upload 10000 NFT artworks and corresponding metadata to NFT.storage pinning step by step.

Please take a look at videos done by Hashlips and something like that will

[2021-09-11 22:51] bladeninja888 commented on #414
Also can someone share the discord channel for NFT.Storage? Thanks!

[2021-09-12 01:45] azpublic opened #415 "How to upload a car file"
Hi ! thanks for the great project.

I'm looking for a way to upload thousands of images under the same IPFS directory.

the idea is to be able to access the files using the same root URL as such :

ipfs://XXXXXXXX/1  --> metadata
ipfs://XXXXXXXX/1.png
ipfs://XXXXXXXX/2  --> metadata
ipfs://XXXXXXXX/2.png
ipfs://XXXXXXXX/3  --> metadata
ipfs://XXXXXXXX/3.png

etc ..

By browsing the issues in here

[2021-09-12 05:56] williammortondev opened #416 "Upload JPG using node.js examples"
N/A

[2021-09-12 06:05] #416 closed

[2021-09-12 18:48] dchoi27 commented on #411
Thanks! Will be fixed when #403 is deployed. In the meantime this is the link: https://github.com/ipfs-shipyard/nft.storage/tree/2bb82aeb23ac139513c1af6615d010579f22a7cc/packages/client/examples

[2021-09-12 18:48] #411 closed

[2021-09-12 18:50] dchoi27 commented on #413
Ah, so I think we probably need to make that clearer in the FAQ, thanks for flagging. I think the <100MB chunking applies before files are CAR'd up. @alanshaw can share how you can generate a CAR using parameters that will work with NFT.Storage, or correct me if I'm wrong.

[2021-09-12 18:53] dchoi27 commented on #414
Hey there! Have you checked out NFT School? https://nftschool.dev/

Link to Discord: https://discord.gg/9x7up6Bb

[2021-09-12 18:54] dchoi27 commented on #415
Hey! Can you share what error messages you're getting and any other relevant details?

[2021-09-12 18:54] dchoi27 commented on #408
Also could add a link to a separate survey for those who want to add more thoughts on features they want, etc.

[2021-09-12 19:05] #393 closed

[2021-09-13 02:56] nftnixie opened #417 "ipfs CIDs are 2 characters too long for my application"
Hi,

My applications require I fit the CID & ipfs://" within a 64 character limit.

The length of the links used with nft.storage, without "ipfs://" are 59 characters long.  Appending "ipfs://" makes it 66 characters...2 characters over the limit :(.

Is there any way you could look into shortening the CID by 2 characters?

[2021-09-13 03:51] aschmahmann commented on #417
@nftnixie all of the bytes in the CID are required to represent your data. However, depending on your application you could try using an alternative [multibase](https://github.com/multiformats/multibase) representation of the bytes for your CID.

IIRC the default representation you are getting is base32, so if you need something a little smaller you might want to try base36. If you needed it to be

[2021-09-13 03:57] azpublic commented on #415
Hi,
I Finally managed to upload a CAR file using CarReader with a filestream. I can see the root folder of the car file whenever I visit the ipfs.dweb.link url but when I try to enter that folder I get :

internalWebError: context canceled

[2021-09-13 07:13] nftnixie commented on #417
converting to a different base works perfectly.  thank you so much!

[2021-09-13 07:14] #417 closed

[2021-09-13 14:49] dchoi27 commented on #415
Hey, can you share the CID?

[2021-09-13 14:56] azpublic opened #419 "context deadline exceeded"
Hi !

I'm unable to view a recently uploaded file ( uploaded through js library ) when trying to access it through the gateway at http://dweb.link/ipfs/XXXMYCIDXXX/87.jpg :

getting the following message in the browser
ipfs resolve -r /ipfs/XXXMYCIDXXX/87.jpg: context deadline exceeded

although I was able to access the corresponding metadata.json a bit before trying to access the image directly.

[2021-09-13 15:52] yusefnapora opened #420 "docs/faq: explain alternate CID encodings"
This is based on the discussion in https://github.com/ipfs-shipyard/nft.storage/issues/417#issuecomment-917815040 where the default base32 CID encoding was too large to fit in the limits of an existing smart contract, but base36 was compact enough to work.

We should add an FAQ entry to explain that CIDs can be converted into alternate encodings, and mention base36 as a more compact alternative th

[2021-09-13 16:46] #363 closed

[2021-09-13 16:46] dchoi27 opened #424 "Additional details on homepage around availability of content"
We've gotten a lot of questions regarding availability of content, especially from folks wondering if they should be pinning content themselves or availability of gateways (which makes sense, given some of the scaling issues of the ipfs.io gateway scaling that were recently mitigated).

On our homepage, we can clarify things in a few places.

We can add some text around pinning content to your own

[2021-09-13 17:12] alanshaw commented on #400
@crzypatchwork are you able to help us here?

[2021-09-13 17:24] alanshaw commented on #413
Heya, every request sent to `https://api.nft.storage/upload` has a 100MB limit. So sending a CAR file on it's own won't help with the limit.

However, CAR files can be split into multiple parts and can be sent in multiple requests. The [`storeCar`](https://ipfs-shipyard.github.io/nft.storage/client/classes/NFTStorage.html#storeCar) method of the JS API will do this for you automatically. It splits

[2021-09-13 20:44] mishmosh opened #426 "More docs for using NFT.storage at scale"
I am seeing an increasing interest in people using or evaluating NFT for production usage. They have questions that are not well-answered by the "getting started" material currently published.

Rather than answering 1 at a time, I think a broader "using NFT.storage at scale" or "designing your application with NFT.storage" piece would be very timely and useful.

Let's use this thread to track all

[2021-09-14 13:23] playerone2000 opened #427 "examples directory is 404"
Hi,

The link to the examples directory is 404:  https://ipfs-shipyard.github.io/nft.storage/client/examples

[2021-09-14 17:01] alanshaw commented on #382
@Gozala please run a workshop asap (after DB migration).

[2021-09-14 17:10] #40 closed

[2021-09-14 20:29] dchoi27 commented on #426
Thanks! Agreed that there's a hole in the docs around how you think about building a service on top of NFT.Storage. Just to better understand who you the target audience you're hearing from is, is it developers thinking of making their own minting service?

cc @yusefnapora

[2021-09-14 20:31] dchoi27 commented on #427
Will be fixed once #403 is deployed! In the meantime this is the link: https://github.com/ipfs-shipyard/nft.storage/tree/2bb82aeb23ac139513c1af6615d010579f22a7cc/packages/client/examples

[2021-09-14 20:31] #427 closed

[2021-09-14 20:33] dchoi27 commented on #420
Can mention `multiformats` as a thing that can help reencode the CID:
[code]

[2021-09-14 21:16] alanshaw commented on #419
If you can provide the CID I can look into it 😄

[2021-09-15 16:25] #341 closed

[2021-09-15 16:27] Gozala commented on #402
I'm inclined to do this post migration

[2021-09-15 17:02] Gozala commented on #220
I was thinking about it last night and I think it would make a lot of sense if nft.storage client turned into a wrapper around the web3.storage client. I am not sure if all the pieces would align (e.g API endpoints), but if they do it might be a good idea.

[2021-09-15 21:18] Gozala commented on #370
Turns out there is an ability to do it, but not to a degree that you can query regular table columns for details see
https://hasura.io/blog/postgres-json-and-jsonb-type-support-on-graphql-41f586e47536/

[2021-09-16 01:18] dchoi27 opened #429 "Increase # of Cluster nodes with replication factor < # of nodes"
Currently we are running a Cluster of 3 nodes with replication across all of them. By expanding to 6 nodes like in Web3.Storage with a replication factor of 3 (or something similar), we can have a more scalable / resilient system.

[2021-09-16 01:28] dchoi27 opened #430 "Automated emails for CIDs added via Pinning API but could not be found"
Right now, CIDs added by the Pinning API might not be found by our Cluster, and we don't alert the user. We should set up daily email alerts with the list of CIDs we could not find that were added by the Pinning API. Might involve some combination of dagcargo's backend and the NFT.Storage Postgres.

[2021-09-16 04:01] dchoi27 opened #431 "Initial version of Metaplex integration"
Adding acceptance criteria (@yusefnapora):
- [x] Create new API endpoint with header specifying Metaplex auth and validating the signature (JWT) (#740)
- [x] Store public key in our database
- [x] Have NFT.Storage integrated into Metaplex Candy Machine in a side branch https://github.com/metaplex-foundation/metaplex/pull/926
- [x] Test integration

---
previous issue:

We want to write a PR to htt

[2021-09-16 16:43] jshstw opened #434 "CAR files won't upload"
Keep trying to upload a new CAR file, however whenever I do so the button is stuck on "Uploading..." until it eventually gives up and goes back to the files page.

[2021-09-16 17:05] #361 closed

[2021-09-17 01:36] dchoi27 opened #437 "SEO optimizations"
Ping @dchoi27 for link to Google Sheet with some easy SEO optimizations

- [x] complete seo optimizations as listed in spreadsheet https://docs.google.com/spreadsheets/d/1-nQrw4n8C_Tr3IOBRg6Q52ALpy8ymy9R1y23XB7EkxI/edit
- [x] add robots.txt and sitemap.xml files to the build (as seen done here https://github.com/web3-storage/web3.storage/pull/517/files )
- [x] update metadata (similarly as seen do

[2021-09-17 12:44] 70nyIT commented on #434
same here. 48 hours ago everything was working fine. Now if I have a very small CAR file (300kb) it does. As soon as it gets up to 2MB, it doesn't upload anymore.

[2021-09-17 12:46] fedecastelli commented on #434
same issue here! ☝️

[2021-09-17 13:42] olizilla commented on #434
I've just tested a 3MiB CAR file and i'm able to upload it via the website. Are you still experiencing the issue? if you retry does it keep failing for you? Are you be able to share the CAR files you're trying to upload that aren't working?

[2021-09-17 13:42] alanshaw commented on #434
Do you have an error message in the browser console or from the JS library you can share?

[2021-09-17 13:53] jshstw commented on #434
Failed to load resource: the server responded with a status of 500 ()

Error: 524: Origin Time-out
    at Function.storeBlob (lib.js:100)
    at async t._fn (index.js:50)

[2021-09-17 14:05] 70nyIT commented on #434
same for me

[2021-09-17 14:23] olizilla commented on #434
Do you hit an error with non-car file upload as well? We're investigating, and any context you can share that might give us a clue is helpful!

[2021-09-17 14:47] jshstw commented on #434
That's the thing. It's not all CAR files. I've successfully uploaded a few but this one won't. It's only 4mb and I've successfully uploaded larger ones since.

[2021-09-17 14:51] dchoi27 opened #439 "Add links to examples on docs section on homepage"
Right now it's not super obvious where folks can go for more examples for using NFT.Storage. Let's add them to the homepage. These are the ones I know of:
- For HTTP API, examples in [Github](https://github.com/ipfs-shipyard/nft.storage/tree/2bb82aeb23ac139513c1af6615d010579f22a7cc/packages/client/examples/browser)
- For JS Library, examples in [Github](https://github.com/ipfs-shipyard/nft.storage

[2021-09-17 14:56] dchoi27 opened #440 "Alerting / monitoring infrastructure"
We'll want to get alerting and monitoring for all our critical infra in. This could be done if it's instrumented in Web3.Storage and we make NFT.Storage a user of Web3.Storage (#389), or implement it separately. If we implement separately, we should use a similar list to the one being made in the Web3.Storage repo (https://github.com/web3-storage/web3.storage/issues/481).

[2021-09-17 15:13] olizilla commented on #434
How are you creating your CAR files? Are you able to share the one that isn't uploading?

[2021-09-17 15:19] dchoi27 opened #441 "Add warnings to autogenerated client libraries"
Add to repos: https://github.com/ipfs-shipyard/nft.storage#client-libraries

[2021-09-17 15:25] jshstw commented on #434
I'm using car.ipfs.io to create the CAR files. I cannot unfortunately as it's commissioned work

[2021-09-17 15:37] dchoi27 commented on #356
Future (can make into a separate issue): Test uploads to individual nodes in the Cluster

[2021-09-17 15:44] 70nyIT commented on #434
personally, I never tried to upload a file directly before, I always did through CAR:
I tried now via script, and I get this error

[code]

But I don't know if it's an error on my side. I don't think so, as I literally copy-pasted the example on your website.

[2021-09-17 15:51] 70nyIT commented on #434
If I upload a file directly from your website, it works (while a CAR file keeps giving me error)

[2021-09-17 16:05] olizilla commented on #434
@70nyIT can you share your script as a github gist or similar?

[2021-09-17 16:10] olizilla commented on #434
@70nyIT that error suggests that you're hitting the /store endpoint which is does not handle CAR files. Only the /upload enpoint can take CARs. This is likely a sperate issue to the one that @jshstw is hitting.

[2021-09-17 16:16] Gozala commented on #434
@70nyIT looks like you're using [`client.store` API](https://ipfs-shipyard.github.io/nft.storage/client/classes/NFTStorage.html#store) which takes very specific type of input. I'm suspecting there is an issue there, do you mind providing a code sample so it's easier to provide feedback.

[2021-09-17 16:33] jshstw commented on #434
@olizilla Any ideas on what could be causing my issue?

[2021-09-17 16:34] 70nyIT commented on #434
So, what I still getting the error, both on website and via script, is upload a CAR file. That I'm sure it's working as I've been using it successfully in the previous days. Here's a snippet

[code]

Instead I tried to directly upload a .gif file as asked by @olizilla with the below script and it's not working, but that's outside of my request (while instead from your website UI perfectly works)

[2021-09-17 16:48] Gozala commented on #434
Are you saying this does not work ? If so could you please provide some details:

1. what error do you see
2. maybe upload a file itself so we can reproduce

[2021-09-17 16:51] Gozala commented on #434
Looking at it I'm realizing that  file name `./imgs/heavy.gif` may indeed cause some issues. Code here assumes that we'll be getting two cids one for file and another for the wrapping directory:

https://github.com/ipfs-shipyard/nft.storage/blob/60499653c4ebb4ad4590527243a09bc8bb73c540/packages/api/src/cluster.js#L57-L66

I suspect that in this case we actually do get 3 CIDs though one for file, o

[2021-09-17 16:56] Gozala commented on #434
So, where I am still getting the error, both on website and via script, is uploading a CAR file. My script in that case I'm sure it's working as I've been using it successfully in the previous days. Here's a snippet

[code]

I would expect this to work, what kind of error are you seeing here ? Better yet would be an observable example illustrating an issue so it's possible to reproduce it.

[2021-09-17 17:12] dchoi27 commented on #441
Added following warning to libraries: _This client was generated via the OpenAPI schema and is experimental, unsupported, and may not work at all!_

[2021-09-17 17:12] #441 closed

[2021-09-17 17:20] mikeal commented on #175
Can construct/document an HTML form such that it posts to the `form-data` API. If the file is taken directly from the file input field it can’t be tampered with by client script and CORS shouldn’t be an issue.

[2021-09-17 17:23] yusefnapora commented on #439
I think HTTP API example you linked also uses the JS client, just in a browser context instead of node. I'm not sure if we have a good example of using the HTTP API directly.

I think the links to the github repo and NFT School are good though 👍

[2021-09-17 18:16] yusefnapora commented on #175
@mikeal can we attach an auth header to the form's POST request without javascript though?

[2021-09-17 18:24] yusefnapora commented on #175
About my last comment... maybe we could [generate an id token on the client](https://magic.link/docs/client-sdk/web/api-reference#generateidtoken) and put it in a hidden form field. Then it can be POST'ed directly, so our script never needs to see the File data. The backend would need to be updated to check for the DID token field though.

[2021-09-17 18:47] 70nyIT commented on #434
Better if we focus only on the CAR file error, forget about single file. That's not where I found the error.

Have you tried uploading a CAR file from your website UI? It doesn't work and returns a 5xx error.
Same from command line and the error I'm getting is the one I reported also above:

[code]

Situation:

* I have a CAR file made with 2k very small files. The total size of the CAR file is ar

[2021-09-17 20:41] Gozala commented on #434
@70nyIT so if we look at your code snippet (below) you are calling `client.storeCar` method, which should work

[code]

however if we look at the error you're providing we see that you're calling `.store` function (see 2nd line):

[code]

This leads me to believe that you either:

1. Not running the code you think you're running
2. The error you see is coming from somewhere else
3. Somehow client

[2021-09-17 21:38] 70nyIT commented on #434
See, talking about two things made me missing up stuff....

The error I'm getting is a timeout error (`Error: 524: Origin Time-out`), that's the one reported by @jshstw in his second message. I have edited my previous message, so now it's correct. Sorry @Gozala for the confusion!

[2021-09-18 16:57] ebnth-zorea commented on #309
Is this method still supported? I notice docs on site removed it and API server is now "https://api.nft.storage" vs /api

[2021-09-19 10:03] talentlessguy opened #444 "Cannot login with either email or GitHub"
when trying to login with email i get this:

![image](https://user-images.githubusercontent.com/35937217/133923418-0d259ee4-2c44-4b0c-90b2-6e2f0a06f217.png)

with github it just throws me back to main page

[2021-09-19 17:20] 0xSzeth opened #445 "Error: Memory limit would be exceeded before EOF"
Hello,

I'm currently experiencing an issue while uploading NFTs > 300MB in size. See the error message below. Any idea why this might be happening?

![image](https://user-images.githubusercontent.com/80861276/133936761-952fec95-eed0-401d-b4d5-9a793948363f.png)

[2021-09-19 23:57] jrwhiteh opened #446 "Using API storeDirectory function"
I'm using your API storeDirectory function. First I'm storing an array of images to a directory. Next I'm pushing an array of jsons to a directory. This works just fine when done with up to 200 of each but going any higher the pics will push but the jsons will get Error: 524 Origin Time-out. Is there some specific limit on how many i can push at a time?

I read through other issues and noticed som

[2021-09-20 08:07] 70nyIT commented on #434
Any news on this @Gozala ? No pressure, just if you can share with us how long you think this may take to you and your team to fix it. If one day, one week or one month 😊

[2021-09-20 08:17] alanshaw commented on #434
Can you share with us a problematic CAR file?

[2021-09-20 08:55] 70nyIT commented on #434
Sure, there you have it!
[json_to_upload_output.zip](https://github.com/ipfs-shipyard/nft.storage/files/7194580/json_to_upload_output.zip)

[2021-09-20 10:12] alanshaw commented on #434
Thanks, looking into it now.

[2021-09-20 14:11] alanshaw commented on #434
In this particular case, it is taking 4 minutes to import into IPFS, which is significantly longer than the service is willing to wait for uploads. We're still investigating.

[2021-09-20 15:53] dchoi27 commented on #413
Closing for now - let us know if this doesn't answer things!

[2021-09-20 15:53] #413 closed

[2021-09-20 15:54] dchoi27 commented on #415
Hey there - closing for now! Let us know if the problem persists.

[2021-09-20 15:54] #415 closed

[2021-09-20 15:56] dchoi27 commented on #419
Hey there - let us know if the problem persists, and if so, please do share the CID. thanks!

[2021-09-20 15:57] #419 closed

[2021-09-20 16:51] #378 closed

[2021-09-20 17:01] the-simian commented on #379
ref #382

[2021-09-20 17:02] the-simian commented on #382
related to #379

[2021-09-20 17:15] dchoi27 commented on #408
Filing an issue with design to see where we can put the survey.

[2021-09-21 13:12] luigicallero opened #447 "Pin Status is Failed"
When I checked the status of the CID I created 12 hours ago,  I get this pin error " status: 'failed' ". Is there any troubleshooting guidance on nft.storage documentation about or should I look for ipfs support?

[2021-09-21 13:53] Arvindraj73 opened #448 "Error while importing `import { packToBlob } from "ipfs-car/pack/blob";` in React App."
Hi,
I tried to use `ipfs-car` to create car files but I am getting `Module not found: Can't resolve 'ipfs-car/pack/blob'` error while importing `import { packToBlob } from "ipfs-car/pack/blob";` in React App.
package.json file and node_modules have `ipfs-car`, yet I am getting the error.
`package.json`
![Screenshot from 2021-09-21 19-05-30](https://user-images.githubusercontent.com/60358829/134180

[2021-09-21 16:26] dchoi27 commented on #446
Hey, this is likely related to #434. We're looking at it!

[2021-09-21 16:31] dchoi27 commented on #445
Hey there, are you using the HTTP API directly? If so, you'll run into limits with Cloudflare Workers (100MB). The JS client library will automatically chunk things up for you when you call its `store()` method. If using the API directly, you'll need to do this yourself. See if #413 helps.

[2021-09-21 20:40] ebnth-zorea commented on #414
Discord link expired.

[2021-09-21 21:24] dchoi27 commented on #445
Oh that's weird! Yeah any logs would be helpful, as well as any code you can share + what environments you've tried this in.

@vasco-santos mind taking a look?

[2021-09-21 21:25] dchoi27 commented on #414
You can join IPFS Discord here https://docs.ipfs.io/community/chat/#discord. It's the #nft-storage channel

[2021-09-21 23:27] dchoi27 opened #449 "Make clearer in FAQs that >100MB uploads only happens automagically using JS client lib"
We need to make this clearer in the text here: https://nft.storage/#are-there-any-size-restrictions-for-stored-nfts

Will change text to say `NFT.storage can store NFTs up to 32GB in size! Cloudflare workers have a 100MB limit, but the JS client library chunks your files for you, allowing files bigger than 100MB to be uploaded! 🎉 If using the HTTP API, you'll need to convert your file into a CAR f

[2021-09-21 23:28] dchoi27 commented on #448
@vasco-santos any thoughts?

[2021-09-22 02:56] #381 closed

[2021-09-22 08:18] vasco-santos commented on #445
Hello @0xSzeth

The `store()` method uses the `/store` endpoint underneath and is used to store NFTs provided as `File/Blob`. This is problematic for files larger than `100mb` thanks to our current Cloudflare Worker limits (@dchoi27 can you let me know where do we document this limits? maybe we should look into making this more clear).

@0xSzeth with the above in mind, you will need to use `storeC

[2021-09-22 08:20] vasco-santos commented on #448
Hey @Arvindraj73

What version of react scripts are you using? If I remember correctly, there was a problem where react scripts would not support the exports property in package.json because it was using an older version of webpack.

[2021-09-22 08:21] vasco-santos commented on #445
@dchoi27 thanks, you seem already looking into better docs https://github.com/ipfs-shipyard/nft.storage/issues/449 ❤️

[2021-09-22 08:57] Arvindraj73 commented on #448
I'm using `"react-scripts": "4.0.3",` and `"react": "^17.0.2",`

[2021-09-22 10:48] hugomrdias opened #454 "pins and uploads endpoints need deals data like the check endpoint"

[2021-09-22 12:40] alanshaw commented on #434
@70nyIT we made some configuration changes and I was able to upload your file - are you able to verify?

[2021-09-22 12:50] alanshaw commented on #446
@jrwhiteh could you please try again to check?

[2021-09-22 13:41] alanshaw commented on #447
Would you be able to share the CID in question so we can look into it?

[2021-09-22 15:53] luigicallero commented on #447
sure!
CID: bafybeicxsyq33y6coi5muyqj4traf52yllgz7hvyxqpyhqq66spqhwuv3i

[2021-09-22 18:23] ericronne commented on #408
Two simple ways to integrate the button …

## Home page

![image](https://user-images.githubusercontent.com/9259185/134400129-c4f8e9a0-9224-4814-b68f-46e42d8fb723.png)

## Dashboard

![image](https://user-images.githubusercontent.com/9259185/134400184-141b4edf-ca66-4f1d-86e6-ffce195bc430.png)

[2021-09-22 20:41] 0xSzeth commented on #445
Makes sense! Definitely wasn't clear that was the case from the docs, so I appreciate you jumping in here. Will look into using CAR for now. Thank you!!

[2021-09-22 21:17] jrwhiteh commented on #446
yes, i tried with my max which was 2000 pics and 2000 jsons and both pushes worked using storeDirectory

[2021-09-23 01:22] mishmosh commented on #426
One more in Slack recently: https://filecoinproject.slack.com/archives/C021JJRH26B/p1631889188141800

[code]

response from alanshaw (could be massaged into docs example)
[code]

[2021-09-23 05:33] jsmellz opened #458 "Experiencing a weird bug - unable to build on next.js"
This error is sometimes occurring in dev mode but always on builds -

/Users/jasonsmellz/Documents/screensaver-interface/node_modules/@web-std/fetch/dist/index.cjs:1534
                        response_?.emit("error", err);
                                  ^

SyntaxError: Unexpected token '.'
    at wrapSafe (internal/modules/cjs/loader.js:915:16)
    at Module._compile (internal/modules/cjs/load

[2021-09-23 09:01] hugomrdias opened #459 "change status type to enum"
'PinError', 'PinQueued', 'Pinned', 'Pinning'
make view to return the response enum

[2021-09-23 09:12] vasco-santos commented on #448
That version seems to be using the latest webpack. Can you try using to make sure this is an exports problem:

[code]

[2021-09-23 09:35] hugomrdias opened #460 "Cronjobs using postgres client"

[2021-09-23 09:35] hugomrdias opened #461 "Cronjobs using postgres client"

[2021-09-23 16:52] #446 closed

[2021-09-23 17:47] yusefnapora commented on #175
Just updating to mention that the forever fix for this seems to be to always send CARs to the API, which is being tracked in #220.

However, @dysbulic, I noticed in the client code that the `storeCar` method already accepts a `Blob` argument and will "promote" it into a CAR file, which should avoid the issue.

So if you're currently using `storeBlob`, you should be able to just switch to `storeCar

[2021-09-23 18:01] Arvindraj73 commented on #448
@vasco-santos It imports and works fine when I use the import statement provided by you.

[2021-09-23 18:21] yusefnapora commented on #175
@dysbulic please disregard my comment above about passing in your blob unchanged to `storeCar`! A closer reading shows that it only works if you're passing in a Blob of CAR-formatted data. Sorry about the misdirect :)

[2021-09-23 20:37] Gozala commented on #175
@dysbulic I was trying to write up an example to demonstrate how this limitation could be overcome using [`client.storeDirectory` API](https://ipfs-shipyard.github.io/nft.storage/client/classes/NFTStorage.html#storeDirectory), however in the process I've discovered that it works now here is the link to an
https://observablehq.com/d/06fdb0bbee195e58 demonstrating it.

Have you by a chance updated a

[2021-09-23 22:15] Gozala commented on #387
@crzypatchwork could you please provide some feedback here

[2021-09-23 23:07] nickadamson commented on #305
Can confirm. Seems to become an issue when using yarn as package manager instead of npm. I've had it happen a few times now.
Deleting ./node_modules and package-lock.json/yarn.lock (as well as any other cached, build, etc files) and reinstalling with npm is the fastest solution I've come across.

[2021-09-24 00:51] dchoi27 commented on #305
@yusefnapora thoughts on where we could add to docs? maybe a section in the Github README? eventually maybe we add as a section in NFT.School / a future docs page for NFT.Storage

[2021-09-24 14:19] #405 closed

[2021-09-24 14:19] #439 closed

[2021-09-24 17:59] Gozala commented on #175
Turns out svg linked does not contain script tag that which is probably why example above worked. That said we have changed cloudfare config to no longer block requests that contain script's in them so this issue is fixed now.

[2021-09-24 17:59] #175 closed

[2021-09-25 01:49] happyeric77 opened #468 "Issue of UnhandledPromiseRejectionWarning: TypeError: storage.store is not a function"
I am struggling to upload my png file onto nft.storage using npm package.
My node js version is v12.22.1, npm version is 6.14.12

And I am using the node.js example code and made a change to my file (package.json keeps the same):

[code]
After that, I run npm install to install all packages.
Then I run the script and it turns the following error:
[code]

Can you please let me know where do I do wr

[2021-09-25 02:09] happyeric77 commented on #468
I checked the source code, And it actually does not have the "store" function. What it has are storeBlob and storeDirectory.
Could anybody tell me where do I get the store method?

[2021-09-25 10:06] alanshaw commented on #468
What version of the library are you using? Make sure you're using the latest.

[2021-09-25 12:45] happyeric77 commented on #468
Hi Alanshow, thanks for the reply,
I am actually using ^0.3.9. By using this version I am able to use the import statement to import nft.storage.

I also tried to use the up-to-date version "3.2.3", but it turns out
1) if I use require (const { NFTStorage, File , Blob} = require("nft.storage")) trying to import module, that it gets the error as below:

[code]

2) If I use import (import { NFTStora

[2021-09-25 20:39] melMass opened #469 "Add as an IPFS pinning service? (IPFS Desktop)"
Hi,

I'm trying to use `nft.storage` as an IPFS pinning service.
I managed to add it using the following values:

API Endpoint: https://api.nft.storage/
Secret access token: $API_KEY (using a key created on nft.storage)

It is properly added as seen here:
![image](https://user-images.githubusercontent.com/7041726/134785391-5a34e69e-6f98-45cf-973c-a062c1ce6d0d.png)

I can then use the `Set Pinning`

[2021-09-25 20:45] melMass commented on #469
Oh I just discovered this:

![image](https://user-images.githubusercontent.com/7041726/134785547-d0a419a9-b02b-4696-8f0a-37e641765c69.png)

I'm not sure to understand the layout:
- 1st link points me to an IPFS directory containing my two files
- 2nd link to the mp4
- 3rd link to the gif

Is that expected? And the size being 0 is it ok?

[2021-09-27 11:04] alanshaw opened #472 "Improvements to initial setup for developers"
Fallout from https://github.com/ipfs-shipyard/nft.storage/pull/471

* Clean up docker containers properly. When my configuration was not setup properly containers weren't being cleaned up. This needs to be fixed.
  * In `pw-test.config.cjs`, if we throw in `beforeTests` then `afterTests` is not run
* Document somewhere that docker needs 8GB RAM for the postgres and postgrest docker containers to r

[2021-09-27 15:19] alanshaw commented on #444
Seems to be working ok for me - what browser are you using? Do you see any error messages in your browser console?

[2021-09-27 15:22] #445 closed

[2021-09-27 15:22] talentlessguy commented on #444
@alanshaw I use Firefox 89 Developer edition

this is what I have in console

[code]

and

[code]

and

[code]

[2021-09-27 15:33] alanshaw commented on #447
Interesting, this is pinned on 2 of 3 cluster nodes right now.

[code]

So, it is pinned. Was this uploaded or pinned using the pinning service API?

I'll open an issue, we need to update items we've marked as failed as they can become pinned later.

[2021-09-27 15:47] atopal commented on #460
duplicate of https://github.com/ipfs-shipyard/nft.storage/issues/461

[2021-09-27 15:47] #460 closed

[2021-09-27 16:19] luigicallero commented on #447
it was uploaded using nft-storage API. No pinning API.
Happy to know that it is PINNED!!! Thanks!

[2021-09-27 16:40] #372 closed

[2021-09-27 16:40] #376 closed

[2021-09-27 16:41] #375 closed

[2021-09-27 16:43] #434 closed

[2021-09-27 16:44] #385 closed

[2021-09-27 16:44] #377 closed

[2021-09-27 16:45] olizilla commented on #434
@jshstw @fedecastelli @70nyIT we think this is fixed, please let us know if you're still having the same issue.

[2021-09-27 16:45] #386 closed

[2021-09-27 16:46] hugomrdias opened #473 "Migration pipeline using postgres client"

[2021-09-27 17:06] alanshaw commented on #437
@dchoi27 can you link the spreadsheet plz?

[2021-09-27 18:01] rafaelramalho19 opened #474 "Make it a PWA and Share Target"
- We should make nft.storage a PWA so we can use it as a Share Target for mobile phones. That way, users can quickly share files directly from their file explorer/gallery, helping us get users that would normally just upload that file to another platform.
- More info at: https://web.dev/web-share-target/
---
- Making this app a [PWA has other benefits too](https://love2dev.com/pwa/benefits/).

[2021-09-27 19:02] the-simian opened #477 "Document Niftysave (as of fall 2021)"
* [x] Schemas
* [ ] Domain Concepts
* [ ] Migration utility
* [ ] Scraper - Architecture
* [ ] Scraper - Sequence of events
* [ ] Services
    * [ ] hasura
    * [ ] heroku
    * [ ] gql api

(this list might be amended as we cover more things that should be documented)

[2021-09-27 19:05] the-simian opened #478 "Gihub Actions should show failure when a Niftysave db migration fails"
When a PR is submitted we need to show any failure related to migration in Hasura early, and reject the PR

[2021-09-28 02:20] dchoi27 commented on #408
@alanshaw any thoughts on UX design for where to put the survey? https://github.com/ipfs-shipyard/nft.storage/issues/408#issuecomment-925176298

I think behind the login wall (2nd option) feels better, and that way we can hide it if a given user has responded in the last x days. Wdyt?

[2021-09-28 02:25] dchoi27 commented on #437
https://docs.google.com/spreadsheets/d/1gTAWWpxEmjS3Ux1TwYweb0NLFX41kNYMqsMEP_GtwEE/edit#gid=1109174869

[2021-09-28 12:09] #459 closed

[2021-09-28 14:58] jdiogopeixoto commented on #424
@dchoi27 can you specify what text/links do we want to add?

[2021-09-28 22:13] dchoi27 opened #481 "Messaging on homepage around IPFS / Filecoin and why they're important to use for NFTs"
Those landing on NFT.Storage without any background knowledge on content addressing might be confused why it's a valuable product. Think we cover this a bit, but think it can be improved in the `About` section.

Would make the text: `nft.storage is a brand new service, built specifically for storing off-chain NFT data. Data is stored decentralized on [IPFS](https://ipfs.io/) and [Filecoin](https:/

[2021-09-29 00:45] dchoi27 commented on #424
@yusefnapora can you verify this link is the best one to help users pin content to their own nodes: https://docs.ipfs.io/concepts/persistence/#pinning-in-context

If so, we can add to `Store`:
[code]

For `Retrieve`, let's add a paragraph with:
[code]

In the FAQ, we can add:
[code]

Can you add @yusefnapora and me as reviewers on the PR? Thanks!

[2021-09-29 00:51] dchoi27 commented on #445
Thanks Vasco! Hey @0xSzeth - sorry looks like I had it wrong - only the `storeCar()` method and not `store()` does the automatic chunking (though we'll add it to `store()`via #220).

[2021-09-29 08:43] #360 closed

[2021-09-29 12:57] alanshaw opened #483 "Consolidate secrets into a single location"
We currently have secrets in cloudflare (via `wrangler secret put`), in github repo secrets and also in `.env.local` files.

How about we remove wrangler secrets, and have staging/prod secrets only in github and bundle them with the application at build time. We use `.env.local` for secrets in local dev.

We should also have a `.env.local` at the top level of the repo to allow sharing of config/se

[2021-09-29 15:21] alanshaw opened #487 "Add maintenance mode banner to the site"
When the site is in maintenance mode we should add a banner at the top of the page informing people of the of the outage and directing them to https://status.nft.storage for more information.

When https://github.com/ipfs-shipyard/nft.storage/pull/466 merges, https://api.nft.storage/version will have an extra property that can be used to determine if the site is in maintenance mode or not.

[2021-09-29 15:27] dchoi27 commented on #487
We should also create a banner for notifying users about upcoming maintenance!

[2021-09-29 15:34] alanshaw commented on #487
Haha, that would be even better. I wonder if statuspage has an API for that?

[2021-09-29 15:46] alanshaw opened #488 "Revisit failed pins"
We need a job to revisit failed pins and verify their current status with cluster. It may be that cluster managed to find/pin them and currently we never re-check when we determine something has failed.

We should run this job occasionally to pick up these stragglers. We can probably ignore/deprioritise pins that are older than a certain age as they are less and less likely of becoming "un-failed"

[2021-09-29 18:27] dchoi27 opened #490 "Specify what file types are allowed in HTTP API docs"
In the JS client docs, we specify that files referenced in the metadata have to adhere to ERC-1155:
![image.png](https://images.zenhubusercontent.com/5fa04bd64afb77249c77235b/8a12fa03-c235-4ab6-8aca-286eb39ec604)

However, we don't have anything in the HTTP API docs specifying this:
![image.png](https://images.zenhubusercontent.com/5fa04bd64afb77249c77235b/218e47f3-6868-4d31-819e-02fc3e9d566d)

We

[2021-09-29 19:27] dchoi27 commented on #490
Also - we added support for MP4s in #291 since OpenSea allows for them, but don't document this anywhere.

[2021-09-29 23:24] parkan opened #492 "Import all assets for existing ERC-721/1155"
The current flow works well for making a new token, however most NFTs are not made using it and have assets hosted on pinata, infura, other/unknown, etc. Existing tools (OS, etherscan, etc) are surprisingly bad at displaying the contentUri information (with the exception of checkmynft)

It should be quite easy to make a tool that dumps all ipfs CIDs for a given contract and allows their import her

[2021-09-30 10:24] alanshaw commented on #331
Things to verify on staging:

* [ ] Test register/login via email
* [ ] Test register/login via github
* [ ] Test logging in with existing "_email_ user" still works
* [ ] Test logging in with existing "_github_ user" still works
* [ ] Test creating an auth key
* [ ] Test deleting an auth key (does not appear in list that it can no longer be used)
* [ ] Test uploading a blob
* [ ] Test uploading a

[2021-09-30 11:38] #404 closed

[2021-09-30 19:15] dchoi27 commented on #492
We have something like this in the works! Currently a cronjob that scrapes the Ethereum chain for NFTs and stores any and all off-chain data onto IPFS / Filecoin. @Gozala are there any public docs to share?

[2021-09-30 20:31] Gozala opened #497 "niftysave should collect history of owners"
Fauna allowed us to [query document history](https://docs.fauna.com/fauna/current/api/fql/functions/events?lang=javascript) which allowed us to query previous owners of the nft. With postgres we would need to capture history ourselves in order to be able to query previous nft owners.

To do that we should

1. Alter `nft_owner` table by adding `nft_id` column and populating it with values from `nft

[2021-10-01 05:23] fungilation commented on #215
Why is this issue closed? It's reproducible with Next build. Deleting node_modules and reinstalling with `yarn` does not fix:

[code]

The culprit is the `@ipld/dag-cbor` dep. After I downgraded nft.storage from 3.3.0 to 2.1.1, this is a diff in `yarn.lock`:

![Screen Shot 2021-09-30 at 10 20 52 PM](https://user-images.githubusercontent.com/3803466/135569418-374c28f0-f56b-44f9-b42f-14bf2f1014e2.pn

[2021-10-01 15:09] dchoi27 commented on #384
@Gozala can this be closed?

[2021-10-01 15:14] #448 closed

[2021-10-01 15:15] dchoi27 commented on #458
@vasco-santos mind taking a quick look?

[2021-10-01 22:12] dchoi27 opened #504 "Make NFT.Storage Grafana track same metrics as Web3.Storage Grafana"
At the very least - total unique content added to IPFS would be great (this is the 3rd graph in the Web3.Storage Grafana)

[2021-10-02 00:50] dchoi27 commented on #426
Addressing these in NFT School here! https://github.com/protocol/nft-website/issues/138

[2021-10-02 00:50] #426 closed

[2021-10-02 03:41] sicktastic commented on #215
I am trying all different versions—no luck so far.  Did downgrading to 2.1.1 work?

[2021-10-02 04:48] chemao78 opened #506 "Interested in collaboration for decentralized storage of anti-establishment media"
I need a decentralized and secure location to host some of the most damning evidence against the government that anyone has ever seen. I wonder if your service could assist with that. i have uploaded a couple of things to give an idea of some of the docile things I have. Some of my documents are highly classified, hence the need for blockchain. Please advise.

![photo_2021-09-29_23-54-56](https://

[2021-10-02 04:51] fungilation commented on #215
Works for me.

BUT, the big downside afaik: 2.x has upload size limit of 100 MB. 3.x with chunked uploads can go up to 32 GB.

So, please please make 3.x usable. Either `@ipld/dag-cbor` fixing itself, or replace it as a dependency.

[2021-10-02 16:11] dchoi27 opened #507 "Move NFT.Storage JS client docs to nft.storage subroute /docs"
## Overview
Right now the JS client docs are a Github page: https://ipfs-shipyard.github.io/nft.storage/client/
It's extra confusing because the nft.storage repo is in IPFS Shipyard. Let's move it to an nft.storage domain.

## Tasks
- [ ] Move all docs to /docs subroute
- [ ] Header state is retained (same top nav with active page indicated)
- [ ] Ensure auth is shared / accessible in docs

[2021-10-02 16:12] dchoi27 opened #508 "Clean up JS client docs"
The JS client docs are pretty ugly. We should clean them up to have a similar look / feel as the NFT.Storage website.

They also feel unintuitive for me, but I'm not a JS developer, so if the docs are following common patterns, think it's fine.

https://nft.storage/api-docs/

[2021-10-02 16:31] nickadamson commented on #215
have you tried using npm as your package manager? I only get this issue when using yarn

[2021-10-02 17:08] dchoi27 commented on #468
Should be a pretty simple fix and similar solution to #458, please check that out when @vasco-santos has had a chance to take a look!

[2021-10-02 17:09] dchoi27 commented on #469
Yes, the size should update after the backend's had a chance to do a roundtrip grabbing the data. If it can't find the data on the network it would remain 0.

[2021-10-02 17:20] #506 closed

[2021-10-02 19:16] fungilation commented on #215
Tried `npm run build` after `rm -rf node_modules`, `npm install nft.storage@latest`. Still get this

[code]

[2021-10-03 05:20] sicktastic commented on #215
I was able to fix this by moving some packages.  For me, it was @pinata/sdk—as I was testing a few different NFT libraries.

[2021-10-03 23:56] fungilation commented on #215
I don't have `ethereum-erc721` dependency.

And my project is pretty barebone. The fact that the only fix for me so yarn build works is downgrading only `nft.storage`, and only that from 3.x to 2.x, is telling on it alone and its associated dependencies is at issue.

Namely, `@ipld/dag-cbor`

[2021-10-04 01:56] happyeric77 commented on #468
Thanks, @dchoi27 and @vasco-santos , If there could be a revision, I would be Looking forward to it.

[2021-10-04 11:53] #424 closed

[2021-10-04 11:56] #374 closed

[2021-10-04 16:04] playerone2000 opened #514 "Is there a limit on numbers of files in a directory?"
Hi,

Just want to confirm: does the nodejs library contrains a limit of number of files that can be uploaded in a directory?

[2021-10-04 16:07] #473 closed

[2021-10-04 16:46] #373 closed

[2021-10-04 16:48] the-simian opened #515 "Merge the complete data sets of nft.storage and niftysave"
This is a placeholder issue to represent the large goal of ultimately combining the data in nft.storage and niftysave into a unified dataset. Schemas have been aligned to this represents the actual hydration of tables in a unified dataset. More subitems will be added as they are discovered

[2021-10-04 16:52] dchoi27 commented on #384
nvm - see PR #504

[2021-10-04 18:20] dchoi27 commented on #514
I don't think so - but @alanshaw or @vasco-santos can confirm

[2021-10-04 19:26] dchoi27 opened #516 "Rewire metrics to new Postgres DB after migration"

[2021-10-04 20:42] dchoi27 opened #518 "Make language more committal in long-term vision in FAQ"
As @ribasushi has flagged, the language in the answer here is more non-committal / centralize-y than we'd like to be: https://nft.storage/#what-is-the-long-term-vision-for-nftstorage

Let's edit the answer to say:
[code]

@ribasushi feel free to chime in with any additional thoughts!

[2021-10-04 21:33] Gozala opened #519 "Do hasura migration in CI when schema changes"
dupe of #478

[2021-10-04 21:35] #519 closed

[2021-10-04 21:40] Gozala opened #520 "Niftysave should derive CID of the metadata from nft tokenURI"
At the moment niftysave will parse metadata fetched from nft `tokenURI` and then try pin it on cluster. However if pin fails token is marked errored even though it technically managed to link.

Instead we should generate `cid` from the analyzer and mark nft linked. Pin task can be queued for the pinner to try over.

[2021-10-04 21:40] the-simian commented on #384
This is in progress on a few PRS
#517
#503 -> #505 (503 was merged into 505)

[2021-10-04 21:46] Gozala opened #521 "status_text should change to status_info and store JSONb."
### Overview

Right now on failure we just capture at which step in the process it occurred in `status` field and additional info like `${error.message}${error.stack}` in the `statusText`. However it seems we need to capture more information to do retry failed tasks intelligently e.g. number of attempts that were made.

### Solutions

#### `status_text → status_info`

1. We could add `status_info:

[2021-10-05 12:12] melMass opened #523 "CORS Issue while uploading through the web API's storeDirectory"
Hi,

I'm trying to upload a directory using `storage.storeDirectory(directory_content)` thought a localhost web page.
But I'm facing a CORS issue.

[code]

The node api works fine on the same file samples.

Is there a way to overcome that?

Thanks

[2021-10-05 13:34] melMass commented on #523
This is in context:
https://github.com/melMass/hicetnunc/blob/718efe47d4d34bf9e18c733eedf9a2434645ed03/src/data/ipfs.js#L175

It handles single files just fine:
https://github.com/melMass/hicetnunc/blob/718efe47d4d34bf9e18c733eedf9a2434645ed03/src/data/ipfs.js#L93

[2021-10-05 15:03] zebateira commented on #481
@dchoi27 is that the final copy to put on that section?

Double checking this is the section that needs the update
<img width="522" alt="image" src="https://user-images.githubusercontent.com/2353186/136049523-d82ef004-774e-4c1a-90f3-fe19859cc071.png">

[2021-10-05 15:13] dchoi27 commented on #481
yes and yes!

[2021-10-05 16:26] Gozala opened #527 "niftysave could leverage *.storage API for content upload as opposed to cluster"
As we were rewiring niftysave to a new backend we realized it might be a good idea to switch piece of code that adds content to ipfs with *.storage API as opposed to talking to IPFS cluster directly because:

1. Our db records indicate failures when cluster was unreachable. In fact #520 was motivated by this failure rate.
2. web3.storage is more reliable as it would hold your content in S3 even if

[2021-10-05 17:42] Gozala opened #529 "cron jobs failing on dependency installs"
I did see a lot of this last week https://github.com/ipfs-shipyard/nft.storage/runs/3761783464 that were not reproducible locally. After burning a day trying to figure this out, I gave up and reverted some changes to avoid this problem.

@alanshaw reported same problems appearing today on github actions https://github.com/ipfs-shipyard/nft.storage/runs/3805994705?check_suite_focus=true which block

[2021-10-05 18:16] Gozala commented on #529
Scanning through the linked issue it appears to be attributed to npm registry been unusually flaky and yarn encountering network concurrency issues. Most seem to have resorted to `—network-concurrency 1` to work around this problem.

[2021-10-05 18:35] Gozala commented on #529
Current hypothesis is that race is caused by the .git dependency with a “prepare” script. Which seems to cause race condition in yarn if it shares same dependency with other causing yarn to install same one in parallel and causing this problem. My intention is to try this hypothesis by removing `graphql-zeus` that I introduced few days ago during which I observed first issues.

[2021-10-05 19:15] #529 closed

[2021-10-06 07:12] Gozala opened #532 "niftysave enable foreign key constraints"

[2021-10-06 07:15] Gozala opened #533 "niftysave configure graphql entity relations"
Some of this is going to happen automatically with #532, but some will require manual setup.

[2021-10-06 10:34] #481 closed

[2021-10-06 10:41] alanshaw opened #536 "Validate pin origins"
When adding/replacing pins with the pinning service API...

We currently put these in the DB without validating the data is an array of mutliaddr.

Note: should be array of strings max 20 as per https://ipfs.github.io/pinning-services-api-spec/#tag/pins/paths/~1pins/post

[2021-10-06 12:59] melMass commented on #523
Is there another channel for support?

[2021-10-06 15:20] alanshaw commented on #523
What is the total size of the files you're trying to upload?

[2021-10-06 16:00] alanshaw opened #537 "Text overlayed on diagram at smaller screen sizes"
Content should be readable on all screen sizes:

<img width="1075" alt="Screenshot 2021-10-06 at 16 58 14" src="https://user-images.githubusercontent.com/152863/136240530-c743dce8-6c80-458a-ac1b-8e082bc9b151.png">

[2021-10-06 20:16] melMass commented on #523
I tried many different samples with different sizes. From 1mb to 99mb.
The issue only comes up when using it thought the web server, using node it works.

Since then I also tried
- making the request myself in axios (without using the nft.storage package) but I have the same CORS issue.
- using https (self-signed using mkcert)

[2021-10-06 21:13] jaynguyens opened #538 "Can't run build on nextjs"
I got stuck on this error when run `yarn build` on my app, I have triage and it turn out the problem is with the `nft.storage`.

[code]

I ran on a new build with only bit of code below and run `yarn build`.  Tried delete node_module and yarn.lock but still not work. Can someone please try and take a look.

[code]

[2021-10-06 23:41] NoRulesJustFeels commented on #523
Even running this nft.storage example in a Chrome browser gives the same cors error:
https://github.com/ipfs-shipyard/nft.storage/blob/main/packages/client/examples/browser/storeDirectory.html

[2021-10-07 15:10] melMass opened #543 "storeDirectory results in [object Blob]?"
Hi,

I highly suspect that this trivial and that I'm doing something wrong, but I can't understand what is going on.
I'm trying to upload a directory using `storage.storeDirectory` but the result is always **[object Blob]** (I guess the string representation of what I actually want to send)...

Because I had not much feedback in #523 I'm trying another route, using nodejs.
The thing is that I'm cr

[2021-10-07 21:52] melMass commented on #543
In IPFS Desktop I can see the folder content..
![image](https://user-images.githubusercontent.com/7041726/136467235-12f3a0c9-4c80-47f9-aacb-4a4e556c6635.png)

[2021-10-08 00:07] BuskerNetwork opened #546 "How is nft.storage free to use?"
How is this service free if it is using Filecoin for pinning/permanence?
Who is paying for the Filecoin storage?

[2021-10-08 11:40] melMass commented on #543
Ah yes, I'm using the nodejs implementation which might be different from the js one:

`import { Blob } from 'buffer';`

This is how the `files` object is constructed:

[code]

where `entry.buffer` is a NodeJS Buffer returned from [fflate](https://github.com/101arrowz/fflate)

Reading about the difference between `Buffer vs UIntArray` and `NodeJS's Blob vs JS's Blob` I think it's definitely relate

[2021-10-08 13:56] zkengine opened #552 "To support string as the data type of `token.image`"
It would be great `nft.storage` SDK to support the `image` field be a string data type besides the `File` and `Blob` types in the `.store` request payload as sometimes the NFT images were uploaded to IPFS already or even in a centralized storage server but the user just want to save the NFT's metadata to IPFS, right now there is not a way to do it if using `nft.storage` SDK.

[2021-10-08 16:01] dchoi27 opened #555 "Dedicated FAQ page"
We should make a dedicated FAQ page on NFT.Storage where we can list an exhaustive list of FAQs. We can link from the top menu bar, as well as at the FAQs at the bottom of the main page.

- [x] add FAQs to top nav and bottom footer on main page
- [x] pull in FAQ content from main page and use as FAQ content https://nft.storage/
- [x] pull in additional FAQ content confirmed by @dchoi27 and/or @ala

[2021-10-08 18:25] the-simian opened #556 "Discovery on migrated data + Create Dataclip to validate migrations expectations (after #505 and #517)"
The purpose of this task is to validate that all data migrated successfully. Could surface issues related to #317 and similar issues. This needs to happen before earnest work on #317

[2021-10-08 18:37] the-simian commented on #556
this happens before #521

[2021-10-08 19:38] alanshaw commented on #555
Candidate items:

* https://github.com/ipfs-shipyard/nft.storage/issues/546
* https://github.com/ipfs-shipyard/nft.storage/issues/514

[2021-10-08 20:47] alanshaw opened #560 "Re-add Node.js engines restriction"
Removed in https://github.com/ipfs-shipyard/nft.storage/pull/559 but niftysave uses node native web streams which requires Node.js `16.10.0` minimum.

[2021-10-08 21:00] Gozala opened #561 "Discussion: Capturing when duplicate entries are skipped."
I noticed that in niftysave we often do opportunistic inserts of:

- token_asset (representation of the nft metadata scrape state)
- resource (representation of the url archival found in metadata)
- content
- pin
- ....

In all those instances we just try to insert and in case such record already exists we just update an `updated_at`. Somehow this feels lossy because we loose information on

1. Wh

[2021-10-08 21:40] #546 closed

[2021-10-09 06:52] Gozala commented on #497
I end up creating separate `nft_ownership` table so that new niftysave v2 can write there. After migration we would need to move data from `nft_owner` into `nft_ownership` and backfill history as described above.

[2021-10-09 06:56] Gozala opened #565 "Drop obsolete erc721_import and erc721_import_by_nft tables"
Those made sense when we were ingesting in batches, as it allowed us to track which tokens were ingested in which batch. However new setup no longer batches imports so these tables are obsolete and should be dropped.

[2021-10-09 06:57] Gozala opened #566 "Drop obsolete sql functions and views"
Some SQL functions and table views were created to help with data migration. No that migration is complete those could be dropped.

[2021-10-09 10:24] alanshaw opened #568 "Navigation links update"
<img src="https://user-images.githubusercontent.com/152863/136654350-cca22a94-2563-4555-91fd-788adbee3e8c.png" width="50%"/>

[2021-10-09 10:26] alanshaw opened #569 "Blue text on buttons and no horizontal padding in maintenance banner"
![image](https://user-images.githubusercontent.com/152863/136654388-d22c8429-5dbd-4a10-8b50-87b761c13fcb.png)

[2021-10-09 12:48] playerone2000 commented on #514
Got it. Thank you.

[2021-10-09 17:08] vasco-santos commented on #468
@happyeric77 thanks for reaching out. We do not support Node12 these days considering it it not an active release anymore https://nodejs.org/en/about/releases/ and it would mean we could not use some of the new features like [Optional Chaining](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining#browser_compatibility).

The first step here is to have Node

[2021-10-09 22:14] NoRulesJustFeels opened #571 "Support CIDv0"
I'm trying to use Nft.Storage for uploading the metadata for the Hic Et Nunc NFTs. It seems that the HEN v1 minting smart contract is checking that the metadata URI is exactly 53 chars long which means it only supports CIDv0.

It's not clear if Nft.Storage supports CIDv0; I don't see anything in the docs for the Nft.Storage JS client library. By default, I'm always getting CIDv1 with Nft.Storage.

[2021-10-10 00:30] sicktastic commented on #538
@jaynguyens I feel like this is a common issues for Next.js projects.  Look into https://github.com/ipfs-shipyard/nft.storage/issues/215.   I am not sure it is solved, but some people were able to manage it by downgrading nft.storage.

[2021-10-10 20:53] #468 closed

[2021-10-11 04:57] happyeric77 commented on #468
Thanks @vasco-santos , I will try to update my node to > 14.

[2021-10-11 10:40] zebateira commented on #568
👍 for adding the about link.

I'm unsure about adding the login link since it would create more than one way for mobile users to login/logout, but at the same time it would help those users that expect those auth links to be inside the menu.

maybe we should get more insights on this, @atopal @dchoi27 @olizilla ?

[2021-10-11 11:46] #543 closed, assigned to nobody

[2021-10-11 11:46] #523 closed

[2021-10-11 12:02] LeonNicholls opened #573 "StoreDirectory sample doesn't work"
Running this nft.storage example in a Chrome browser gives a cors error:
https://github.com/ipfs-shipyard/nft.storage/blob/main/packages/client/examples/browser/storeDirectory.html
<img width="928" alt="direrror" src="https://user-images.githubusercontent.com/564979/136786763-0cb2a4b7-5af8-4496-a074-4664ccf6cb71.png">

[2021-10-11 13:53] NoRulesJustFeels commented on #571
Also, I tried the cids library but it seems the NFT.Storage  CIDs can't be converted to CIDv0 since I get this error when calling cid.toV0():
Cannot convert a non dag-pb CID to CIDv0

[2021-10-11 15:35] dchoi27 commented on #568
Is there any harm in the redundancy, or is it just two links that point to the same page? If the latter, think it's fine to add login to the menu to flesh it out!

An aside, the "X" box looks kind of big to me on the mobile screen (maybe especially because the NFT.Storage logo looks proportionately small). Can we play around with shrinking it a tad?

[2021-10-11 16:47] dchoi27 opened #577 "Request to delete account from behind login"
BLOCKED until we begin integrating with w3access and w3infra

Should have a way for users to delete their account behind login wall. There's some pretty established patterns on how to make sure users don't do this accidentally (make them type in their user name or email, etc.).

[2021-10-11 18:21] dchoi27 commented on #184
Should we close this given no more Fauna?

[2021-10-11 21:46] #184 closed

[2021-10-11 21:51] Gozala commented on #492
@parkan all the code doing this lives at https://github.com/ipfs-shipyard/nft.storage/tree/main/packages/niftysave
However readme is out of date right now, but new version is coming in pr #564 which you can preview at https://github.com/ipfs-shipyard/nft.storage/blob/7f553eaf1a70c057a8eb1de4f2f0c37c8b4075d8/packages/niftysave/Readme.md

If you’d like to help improve this system, we’d love your hel

[2021-10-11 22:53] NoRulesJustFeels commented on #573
Chrome Version 94.0.4606.81
I'm trying to upload the files in a folder (see attached zip of the folder)
[HTML.zip](https://github.com/ipfs-shipyard/nft.storage/files/7325693/HTML.zip)

[2021-10-11 23:23] dchoi27 commented on #552
It's unlikely that we'll be able to download image / asset from a remote URL into the service that's not already in IPFS - there's just too much outside of the service's control in that case (we already see this enough with data supposedly in IPFS that NFT.Storage is asked to pin but is not actually hosted anywhere).

However, think it's a great idea to allow uploads of metadata where the user alr

[2021-10-12 00:15] #269 closed, assigned to hugomrdias

[2021-10-12 00:15] dchoi27 commented on #269
#449 should help if you are running into this error

[2021-10-12 00:44] dchoi27 commented on #220
Just to be clear here (please let me know if this is wrong), we'll need to implement chunking in the client for `store()` and `storeDirectory()`? But `storeCar()` already does the multipart uploading?

[2021-10-12 01:19] NoRulesJustFeels commented on #573
I've used both the Infura and Pinata IPFS APIs with the same set of files and they work fine. I haven't had to use CAR files with either of them.

[2021-10-12 13:28] #573 closed, assigned to nobody

[2021-10-12 15:06] NoRulesJustFeels commented on #573
Tried the codesandbox but got the same error. Tried in incognito and it fails too.
Tried it in Firefox and got the same cors error.
Even tried it on a VPN but same error.
Even tried a different API key but the same error.
It only works if I exclude index.html.

[2021-10-12 16:03] alanshaw commented on #220
@dchoi correct

[2021-10-12 16:37] #384 closed

[2021-10-12 16:39] #328 closed

[2021-10-12 18:07] Gozala opened #589 "Expose API along the lines of ipfs.cat"
At the moment niftysave asks private ipfs cluster to fetch a tokenURI when it recognizes it to be a content on IPFS (which happens if URL is ipfs:// style  URL or if it looks like gateway URL).

However as per https://github.com/ipfs-shipyard/nft.storage/issues/326 and relevant discussion at https://filecoinproject.slack.com/archives/C02BZPRS9HP/p1634058155211200 chances are that `cat` will fail a

[2021-10-13 00:15] the-simian opened #593 "Niftysave: Change paging strategy to use mintTime for a cursor"

[2021-10-13 05:36] #566 closed

[2021-10-13 07:58] rafinskipg opened #596 "how to update a directory?"
Hello, i'm having a hard time trying to understand the API for this.

I want to upload a directory , for that i used client.storeDirectory which allows to upload different files.

The thing is, now i want to add more files to the same directory. Is that possible? Can i update a directory?

Thanks

[2021-10-13 20:42] #596 closed, assigned to nobody

[2021-10-14 09:24] dchoi27 opened #603 "Create rate limits"
To protect our infrastructure from individual users' activity, we should establish rate limits. We can enforce these limits where it makes the most sense - potentially in the code in the Cloudflare Workers?

As far as what the rate limit should be, one benchmark is S3 with [3,500 put requests per second](https://aws.amazon.com/premiumsupport/knowledge-center/s3-503-within-request-rate-prefix/#:~:t

[2021-10-14 10:00] davethedead opened #604 "I am unable to upload a .car file"
I have a .car file it is 2.5GB of images. However, when I try to upload it to nft.storage it gives an error "Error uploading: The requested file could not be read, typically due to permission problems that have occurred after a reference to a file was acquired."
![Screen Shot 2021-10-14 at 10 10 37](https://user-images.githubusercontent.com/90647409/137295831-7d5b63db-6f77-4ceb-b14a-08b2beea49f4.j

[2021-10-14 11:33] dchoi27 opened #606 "NFT & web3 teams should be able to block activity from individual keys"
Both the NFT.Storage team and the web3 team might need to block user(s) if their behavior is affecting the whole system or if they are doing something malicious. We need a simple way to block a user's individual key to begin with.

## Tasks
- [x] build out UI
- [x] House admin codebase in nft.storage github org
- [x] default landing state of app doesnt need to show list of users, only search.
~~[

[2021-10-14 13:24] #518 closed

[2021-10-14 14:19] alanshaw opened #608 "Duplicated API keys post DB migration"
We have a minor issue with duplicate API keys post DB migration. The duplicates need to be cleaned up.

[2021-10-14 14:49] jdiogopeixoto commented on #569
@alanshaw, I fixed the padding for the banner and the blue outline for the button in #609, but couldn't reproduce the blue text for the button. Can you tell me what browser were you in?

[2021-10-14 15:30] the-simian opened #610 "feat: allow niftysave ingest to have configurable start date via proc args"
Will make it easier to run corrective runs in the future without changing the code, just the args to the proc

[2021-10-14 18:19] olizilla commented on #603
We can enforce rate limits in cloudflare config
https://www.cloudflare.com/en-gb/rate-limiting/

we just need to get it enabled on our account so we can configure it
<img width="1065" alt="Screenshot 2021-10-14 at 19 16 25" src="https://user-images.githubusercontent.com/58871/137373770-f37e3e50-3a93-430f-bb4d-8edc65378363.png">

[2021-10-14 19:42] Gozala opened #613 "discuss: TLDR; Location based URLs are racy"
Recently I have realized a design flaw in the niftysave architecture and I would love input as I try to decide how to address it. I will set the stage by providing a **context** on niftysave architecture, omitting irrelevant details, describe the **problem** and describe how I thin I can **fix** it.

### Context

Niftysave runs three parallel uncoordinated processes, each reading and writing into

[2021-10-14 19:46] Gozala commented on #613
I am leaning towards "Anazyer does not write into resource table" because:

1. We avoid retry gets different content error.
2. And we basically get two kind of CIDs `content_cid` and `metadata_cid` (metadata_cid can even be for CBOR encoded metadata).

[2021-10-14 21:06] dchoi27 commented on #603
Awesome, would be curious to see what the configuration options were. @mikeal had a good point that ideally we'd be able to not rate limit certain users on an approvelist, but not sure if that's controllable at the Worker level.

[2021-10-14 21:29] dchoi27 commented on #606
Yeah great idea! Added

[2021-10-14 22:24] Moikapy commented on #309
I'm trying to use on the ipfs gui and it's failing to fetch

[2021-10-15 08:56] Eroo36 commented on #608
I was not able to remote pin my files and I saw this issue, decided to check my API keys and indeed I had 3 of them same key, removed two of them, and it started to work again now. I am not sure if this fixed it for sure, but maybe it is not a minor issue?

[2021-10-15 10:31] #608 closed, assigned to hugomrdias

[2021-10-15 10:50] #331 closed

[2021-10-15 12:58] bigchiano opened #617 "Upload metadata with existing image url?"
Hi guys, I thought it'd be nice if I could upload metadata using an existing image URL.

As I have seen here [github.com/ipfs-shipyard/nft.storage/blob/main/packages/client/src/lib.js#L453](url) it forces one to upload metadata with the image as a blob and the response of the image comes with ipfs URI which is not much supported on some of these wallets. I would suggest returning the image with a